.section {
  margin-top: 50px;
  margin-bottom: 50px;
  .title {
    color: #fcfcfd;
    font-size: 24px;
    line-height: 32px;
    padding: 10px;
  }
  .content {
    font-size: 14px;
    line-height: 24px;
    color: #fcfcfd;
    margin-top: 30px;
  }
}
.title .text {
  border-bottom: 4px solid transparent;
  padding-bottom: 10px;
  border-image: linear-gradient(
      91.26deg,
      #8ad4ec 0%,
      #ef96ff 21.74%,
      #ff56a9 54.03%,
      #ffaa6c 85.28%
    )
    4;
}
