.section--owuGp {
  margin-top: 50px;
  color: var(--text-primary, #1e202c);
}
.section--owuGp .title--ZtSFI {
  font-family: Helvetica Neue;
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0;
}
.section--owuGp .content--JxgCg {
  font-family: Manrope;
  font-size: 14px;
  line-height: 24px;
  margin-top: 30px;
  white-space: pre-line;
  word-break: break-word;
}
.title--ZtSFI .text--aB3Pd {
  border-bottom: 4px solid var(--text-primary, #1e202c);
  padding-bottom: 10px;
}

.badge--ooAUr {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  height: 22px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: var(--badge-color, #ffffff);
  color: var(--text-secondary, #8c92ab);
  border-radius: 22px;
}
.badge--ooAUr.success--Qp80a {
  background-color: var(--success-color, #2bc128);
  color: #fff;
}

.icon--Uje33 {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}
.icon--Uje33 path {
  transition: fill 0.2s ease;
}
.spinning--_hZsr {
  animation: spinning--_hZsr 2s infinite linear;
  display: inline-flex;
}
@keyframes spinning--_hZsr {
  to {
    transform: rotate(360deg);
  }
}

.button--n4efS {
  touch-action: manipulation;
  cursor: pointer;
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 24px;
  height: 40px;
  border-radius: 6px;
  padding: 0 20px;
  overflow: hidden;
  font-family: Helvetica Neue;
  transition: background-color var(--theme-transition-duration, 0.2s) ease, color var(--theme-transition-duration, 0.2s) ease;
  -webkit-appearance: none;
  transition: transform 0.3s ease;
}
.button--n4efS.small--BGuBc {
  height: 32px;
  padding: 8px 16px;
  font-size: 12px;
}
.button--n4efS.middle--dNKev {
  height: 40px;
  padding: 12px 20px;
  font-size: 14px;
}
.button--n4efS.large--Ej39j {
  height: 48px;
  padding: 14px 24px;
  font-size: 16px;
}
.button--n4efS.fullWidth--SqPNX {
  display: inline-block;
  width: 100%;
}
.button--n4efS:not([disabled]):hover {
  transform: scale(1.05);
}
.button--n4efS[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.round--f9cTo {
  border-radius: 40px;
}
.round--f9cTo.small--BGuBc {
  border-radius: 32px;
}
.round--f9cTo.middle--dNKev {
  border-radius: 40px;
}
.round--f9cTo.large--Ej39j {
  border-radius: 48px;
}
.circle--ean7B {
  border-radius: 40px;
  width: 40px;
}
.circle--ean7B.small--BGuBc {
  width: 32px;
}
.circle--ean7B.middle--dNKev {
  width: 40px;
}
.circle--ean7B.large--Ej39j {
  width: 48px;
}
@media (max-width: 950px) {
  .button--n4efS {
    height: 32px;
    padding: 0 16px;
    line-height: 1;
  }
  .button--n4efS.small--BGuBc {
    height: 32px;
    padding: 0 16px;
    font-size: 12px;
  }
  .button--n4efS.middle--dNKev {
    height: 32px;
    padding: 0 18px;
    font-size: 14px;
  }
  .button--n4efS.large--Ej39j {
    height: 40px;
    padding: 0 22px;
    font-size: 16px;
  }
  .round--f9cTo {
    border-radius: 32px;
  }
  .round--f9cTo.small--BGuBc {
    border-radius: 24px;
  }
  .round--f9cTo.middle--dNKev {
    border-radius: 32px;
  }
  .round--f9cTo.large--Ej39j {
    border-radius: 40px;
  }
  .circle--ean7B {
    border-radius: 32px;
    width: 32px;
  }
  .circle--ean7B.small--BGuBc {
    width: 24px;
  }
  .circle--ean7B.middle--dNKev {
    width: 32px;
  }
  .circle--ean7B.large--Ej39j {
    width: 40px;
  }
}
.iconHolder--oydLr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconHolder--oydLr.leftIcon--cpDaj {
  margin-right: 10px;
}
.iconHolder--oydLr.rightIcon--t7Hsj {
  margin-left: 10px;
}
.schemeDefault--Qd6SP {
  background-color: var(--button-default-bg, #1e202c);
  color: var(--button-default-color, #ffffff);
}
.schemePrimary--D_hEU {
  background-color: var(--button-primary-bg, #0057ff);
  color: var(--button-primary-color, #ffffff);
  /* TODO: replace with css variables */
}
.schemePrimary--D_hEU[disabled] {
  background: #99afff;
  opacity: 1;
}
.schemeLight--czH3l {
  background-color: var(--button-light-bg, #f0f2f6);
  color: var(--button-light-color, #000000);
}
/* TODO: replace with css variables */
.schemeDanger--HpLpl {
  background-color: #fb2047;
  color: #fff;
}

.countdown--RMYsx {
  display: flex;
}
.countdown--RMYsx .timefield--_jp3s {
  text-align: center;
  width: 75px;
  margin-left: 15px;
  margin-right: 15px;
}
.timefield--_jp3s .digit--J3HCW {
  font-family: monospace;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fcfcfd;
}
.timefield--_jp3s .label--I9P0R {
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  color: #b0b0b8;
}

.row--eNwLc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
}
.account--Dt0Wq {
  padding: 12px;
  color: var(--text-primary, #1e202c);
  font-size: 14px;
  background-color: var(--wallet-bg, #f0f2f6);
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.account--Dt0Wq .icon--ttfTl {
  margin-right: 5px;
}
.disconnectButton--Km0gF {
  font-weight: bold;
}
.cell--FIUEy {
  color: var(--text-primary, #1e202c);
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}
.cell--FIUEy .icon--ttfTl {
  margin-right: 10px;
}
.copyButton--s_fKw {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 70px;
}
.recentTxes--skWCy .title--n0CxY {
  font-size: 12px;
  line-height: 24px;
  color: var(--text-primary, #1e202c);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recentTxes--skWCy .transaction--ql10Q {
  height: 24px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}
.recentTxes--skWCy .clearButton--b9_K4 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: var(--text-link, #0057ff);
}
.recentTxes--skWCy .empty--DaNgR {
  font-size: 12px;
  line-height: 24px;
  color: #454a5f;
}
.transaction--ql10Q .operationName--VK1HE {
  margin-left: 8px;
  font-size: 10px;
}

.dialog--xqwB8 {
  width: 480px;
}
.step--PjEyi {
  margin-bottom: 24px;
}
.step--PjEyi .stepTitle--x92G1 {
  font-size: 16px;
  line-height: 24px;
}
.step--PjEyi .stepContent--xtwwQ {
  margin-top: 20px;
}
.list--giodY {
  display: flex;
}
.list--giodY .option--Rsy5F {
  cursor: pointer;
  text-align: center;
  width: 48px;
  margin-right: 40px;
}
.option--Rsy5F .name--UVzMB {
  font-size: 12px;
  color: var(--text-secondary, #f0f2f6);
}
.option--Rsy5F.selected--sXpqO .name--UVzMB {
  color: var(--text-primary, #1e202c);
}

.drawMessage--jJQYs {
  display: flex;
  align-items: center;
}
.drawMessage--jJQYs a {
  color: var(--text-link, #0057ff);
}

.dialog--Cfidn {
  width: 480px;
}
.searchGroup--Lumy1 {
  display: flex;
}
.searchGroup--Lumy1 .input--SQXcl {
  flex-grow: 1;
}
.tokenList--BRB2h {
  margin-top: 24px;
  height: 258px;
  overflow: auto;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.newList--ru6s9 .row--jsOZs {
  display: flex;
}
.newList--ru6s9 .row--jsOZs .token--gSTBz {
  flex-grow: 1;
}
.noResult--LxW5f {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}
.noResult--LxW5f .keyword--VTGDL {
  font-weight: bold;
}

html {
  --theme-transition-duration: 0.3s;
  --background: #ffffff;
  --light-background: #f6f8f8;
  --top-border: #d9ddea;
  --bottom-border: #d9ddea;
  --footer-background: #f0f2f6;
  --border: #d9ddea;
  --darker-background: #d9ddea;
  --button-default-bg: #1e202c;
  --button-default-color: #ffffff;
  --button-primary-bg: #0057ff;
  --button-primary-color: #fff;
  --button-light-bg: #f0f2f6;
  --button-light-color: #000;
  --nav-text: #8c92ab;
  --active-nav-text: #1e202c;
  --text-primary: #1e202c;
  --text-primary-invest: #ffffff;
  --text-darker: #454a5f;
  --text-secondary: #8c92ab;
  --text-link: #0057ff;
  --text-error: #fb2047;
  --light-divider: #c1c7de;
  --light-border: #c1c7de;
  --input-bg: #fff;
  --input-border: #c1c7de;
  --input-focus-border: #0057ff;
  --input-invalid-border: #fb2047;
  --input-valid-border: #2bc128;
  --upload-border: #99afff;
  --upload-error-border: #ff9eaf;
  --upload-bg: #f0f2f6;
  --upload-error-bg: rgba(251, 32, 71, 0.1);
  --upload-active-border: #0057ff;
  --bubble-bg: rgba(15, 20, 25, 0.8);
  --dialog-shadow: 0px 10px 30px 3px rgba(5, 16, 55, 0.15);
  --well-bg: #fff;
  --add-button-bg: #f0f2f6;
  --step-text: #737992;
  --badge-color: #ffffff;
  --section-title: #1e202c;
  --image-placeholder-bg: #f0f2f6;
  --wallet-bg: #f0f2f6;
  --success-color: #2bc128;
}
html .darkMode {
  --background: #000000;
  --light-background: #111111;
  --top-border: #313545;
  --bottom-border: #313545;
  --footer-background: #1e202c;
  --darker-background: #313545;
  --button-default-bg: #1e202c;
  --button-default-color: #fff;
  --button-primary-bg: #0057ff;
  --button-primary-color: #fff;
  --button-light-bg: #313545;
  --button-light-color: #fff;
  --nav-text: #737992;
  --active-nav-text: #fff;
  --text-primary: #fff;
  --text-primary-invest: #111111;
  --text-darker: #f9f9f9;
  --text-secondary: #f0f2f6;
  --text-link: #0057ff;
  --text-error: #fb2047;
  --light-divider: #313545;
  --light-border: #c1c7de;
  --input-bg: #1e202c;
  --input-border: #454a5f;
  --input-focus-border: #0057ff;
  --upload-border: #8c92ab;
  --upload-error-border: #ff9eaf;
  --upload-bg: #1e202c;
  --upload-error-bg: rgba(251, 32, 71, 0.1);
  --upload-active-border: #0057ff;
  --bubble-bg: rgba(255, 255, 255, 0.9);
  --dialog-shadow: 0px 10px 30px 3px rgba(155, 155, 155, 0.15);
  --well-bg: #1e202c;
  --badge-color: #737992;
  --add-button-bg: #313545;
  --step-text: #737992;
  --section-title: #f0f2f6;
  --image-placeholder-bg: #1e202c;
  --wallet-bg: #313545;
  --success-color: #2bc128;
}
html .darkMode ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.dialog--F8QFO {
  background-color: var(--background, #fff);
  color: var(--text-primary, #1e202c);
  padding: 0;
  z-index: 99;
  position: fixed;
  inset: 0;
  border-radius: 12px;
  box-shadow: var(--dialog-shadow, 0px 10px 30px 3px rgba(5, 16, 55, 0.15));
  border: none;
}
.dialog--F8QFO .header--ukLi7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.dialog--F8QFO .body--sn3eq {
  padding: 0 20px 20px;
}
.header--ukLi7 .title--seHLN {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}
.header--ukLi7 .closeButton--Z1ddn {
  background-color: transparent;
  border: none;
  color: var(--text-primary, #1e202c);
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.empty--JucaH {
  font-size: 12px;
  line-height: 16px;
  color: #fcfcfd;
  text-align: center;
}

.section--z5JU_ {
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--text-primary, #1e202c);
}
.section--z5JU_ .title--O_Nmb {
  font-family: Helvetica Neue;
  font-size: 22px;
  line-height: 32px;
}
.section--z5JU_ .content--yIzPm {
  font-family: Manrope;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  color: var(--text-secondary, #1e202c);
}
.section--z5JU_ .content--yIzPm a {
  color: #0057ff;
  text-decoration: none;
}
.title--O_Nmb {
  position: relative;
}
.title--O_Nmb::before {
  content: '';
  width: 16px;
  height: 2px;
  border-right: 2px;
  background-color: var(--text-primary, #1e202c);
  position: absolute;
  left: -40px;
  top: 17px;
}
@media (max-width: 950px) {
  .section--z5JU_ {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .section--z5JU_ .content--yIzPm {
    font-size: 16px;
  }
}
@media (max-width: 414px) {
  .section--z5JU_ .title--O_Nmb {
    font-size: 18px;
  }
  .section--z5JU_ .content--yIzPm {
    font-size: 16px;
  }
}

.field--dY3iq.required--vuw8q .fieldName--CWRKV::after {
  margin-left: 5px;
  display: inline-block;
  content: '*';
  color: #fb2047;
}
.field--dY3iq .content--I2BI3 {
  margin-top: 16px;
}
.fieldName--CWRKV {
  margin-right: 5px;
}
.header--YdNxH {
  display: flex;
}
.header--YdNxH .tip--I3zxG {
  margin-left: auto;
  font-size: 14px;
  line-height: 22px;
  color: var(--text-secondary, #8c92ab);
}

.container--JEJAN {
  position: relative;
  display: flex;
  align-items: center;
}
.container--JEJAN .bubble--PkipN {
  position: absolute;
  bottom: calc(100% + 15px);
  left: -33px;
}
.container--JEJAN.right--cfdTk .bubble--PkipN {
  left: auto;
  right: -33px;
}
.bubble--PkipN {
  background: var(--bubble-bg, rgba(15, 20, 25, 0.8));
  color: var(--text-primary-invest, #ffffff);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 20px;
  white-space: pre-line;
}
.bubble--PkipN::after {
  position: absolute;
  content: '';
  bottom: -15px;
  left: 34px;
  background-color: var(--bubble-bg, rgba(15, 20, 25, 0.8));
  /* path from ./down-arrow.svg */
  clip-path: path('M10.3554 11.9833C9.58644 13.321 7.65636 13.321 6.88743 11.9833L-0.000364304 0L17.2432 0L10.3554 11.9833Z');
  background-repeat: no-repeat;
  height: 15px;
  width: 18px;
  background-position: center top;
}
.container--JEJAN.right--cfdTk .bubble--PkipN::after {
  left: auto;
  right: 34px;
}

.bottomAnchor--WW375 {
  height: 1px;
}

.container--PAKrK {
  position: relative;
}
.container--PAKrK .leftHolder--fKRRc {
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 12px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container--PAKrK .rightHolder--gTaH5 {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 12px;
  top: 0;
}
.input--_tCke {
  border-radius: 6px;
  border: 1px solid var(--light-border, #c1c7de);
  background-color: var(--input-bg, #fff);
  box-sizing: border-box;
  color: var(--text-primary, #1e202c);
  outline-color: var(--light-focus-border, #0057ff);
}
.input--_tCke.small--CWuwx {
  height: 32px;
  padding: 8px 16px;
  font-size: 12px;
}
.input--_tCke.small--CWuwx.round--L6boo {
  border-radius: 32px;
}
.input--_tCke.middle--oM1iE {
  height: 40px;
  padding: 12px 20px;
  font-size: 14px;
}
.input--_tCke.middle--oM1iE.round--L6boo {
  border-radius: 40px;
}
.input--_tCke.large--uvP2P {
  height: 48px;
  padding: 14px 24px;
  font-size: 16px;
}
.input--_tCke.large--uvP2P.round--L6boo {
  border-radius: 48px;
}
.input--_tCke.fullWidth--cdDLs {
  width: 100%;
}
.input--_tCke.hasLeft--e6GwK {
  padding-left: 48px;
}
.input--_tCke:invalid {
  border: 1px solid var(--input-invalid-border, #fb2047);
}
.input--_tCke:valid:not(:placeholder-shown) {
  border: 1px solid var(--input-valid-border, #2bc128);
}
.input--_tCke[type='number']::-webkit-outer-spin-button,
.input--_tCke[type='number']::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.input--_tCke[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
}

.langSwitch--RUUp8 {
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  white-space: nowrap;
}
.langSwitch--RUUp8 .icon--oM2Ge {
  margin: 0 6px;
}
.langSwitch--RUUp8 .langs--E9KhJ {
  position: absolute;
  right: 0;
  top: 30px;
}
.labels--QgGOB {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.langs--E9KhJ {
  background-color: var(--background, #fff);
  width: 100%;
  border: 1px solid var(--border, #d9ddea);
  border-radius: 4px;
  overflow: hidden;
}
.langs--E9KhJ .lang--A3JJK {
  cursor: pointer;
  line-height: 35px;
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
}
.langs--E9KhJ .lang--A3JJK:hover {
  background-color: var(--button-primary-bg, #0057ff);
  color: var(--button-primary-color, #fff);
}

.newsletter--RbIlh .newsletterTitle--F6XOh {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary, #1e202c);
  font-weight: 500;
}
.newsletter--RbIlh .form--YMXy1 {
  margin-top: 10px;
  position: relative;
}
.newsletter--RbIlh .form--YMXy1 .input--PZrDx {
  border: 2px solid var(--light-divider, #c1c7de);
  background-color: var(--input-bg, transparent);
  height: 48px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 48px;
  padding-left: 16px;
  outline: none;
  font-size: 14px;
  color: var(--text-primary, #1e202c);
}
.newsletter--RbIlh .form--YMXy1 .button--IO4iH {
  position: absolute;
  right: 8px;
  top: 8px;
}

.player--lWQvN {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player--lWQvN .playPause--txpjp {
  height: 32px;
  width: 32px;
  position: absolute;
  inset: 0;
  margin: auto;
  background: rgba(30, 32, 44, 0.7);
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  will-change: opacity;
  transition: 0.3s opacity ease-in-out;
}
.player--lWQvN:hover .playPause--txpjp {
  opacity: 1;
}

.image--_BBnu {
  object-fit: cover;
}
.videoPlayer--D1OHV {
  height: 100%;
}
.videoPlayer--D1OHV video {
  object-fit: contain;
}

.nft--L70Ob {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.nft--L70Ob.disabled--PQAPZ {
  opacity: 0.5;
}
.nft--L70Ob .media--RUxce {
  width: 100%;
  font-size: 0;
  height: 150px;
}
.nft--L70Ob .media--RUxce img {
  object-fit: cover;
  width: 100%;
}
.nft--L70Ob.sold--TWr_V .media--RUxce {
  opacity: 0.5;
}
.nft--L70Ob .info--fwIf5 {
  flex-shrink: 0;
  line-height: 20px;
}
.nft--L70Ob.sold--TWr_V .info--fwIf5 div {
  opacity: 0.5;
}
.nft--L70Ob .mask--i3mxP {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.media--RUxce {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darker-background, #313545);
}
.info--fwIf5 {
  padding: 8px;
  box-sizing: border-box;
  color: #ebebf1;
  font-size: 14px;
  background: #23222e;
}
.info--fwIf5 .contractName--uHjs4 {
  font-weight: bold;
}
.info--fwIf5 .name--xt8GM {
  font-weight: normal;
}
.info--fwIf5 .meta--JDTB3 {
  display: flex;
  justify-content: space-between;
}
.nftList--bJ1Ys {
  display: grid;
  max-height: calc(100vh - 200px);
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 64px;
}
.nftList--bJ1Ys .nftItem--lmQUL {
  width: 200px;
}
@media (max-width: 950px) {
  .nft--L70Ob {
    width: 160px;
  }
}
@media (max-width: 414px) {
  .info--fwIf5 {
    font-size: 12px;
  }
  .info--fwIf5 .meta--JDTB3 {
    font-size: 10px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .info--fwIf5 {
    font-size: 13px;
  }
  .info--fwIf5 .meta--JDTB3 {
    font-size: 11px;
  }
}

.operations--U2CtX {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text-primary, #1e202c);
  font-weight: 500;
}
.operations--U2CtX .toggleAll--DUS8a {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.operations--U2CtX .toggleAll--DUS8a.locked--VWUBU {
  cursor: not-allowed;
}
.operations--U2CtX .tip--iKqmJ kbd {
  color: var(--text-link, #0057ff);
}
.selectList--A54_E {
  display: flex;
  flex-direction: column;
}
.selectList--A54_E .scrolling--jOF4m {
  border-radius: 8px;
  flex-grow: 1;
  overflow: auto;
}
.list--kBxZv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}
.list--kBxZv .item--PWPOV {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item--PWPOV {
  position: relative;
}
.item--PWPOV .checkbox--M0vui {
  position: absolute;
  right: 10px;
  top: 10px;
}
.addItem--mocI5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--add-button-bg, #f0f2f6);
  width: 175px;
  height: 186px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.nft--bbrKH {
  width: 175px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}

.overlay--zjKIw {
  background: rgba(15, 15, 15, 0.5);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 9;
}

.container--l6iTu {
  position: relative;
  cursor: pointer;
}
.container--l6iTu .icon--bQJGX {
  position: absolute;
  right: -1px;
  bottom: -1px;
}

.snsShare--xgILf {
  display: flex;
}
.snsShare--xgILf .button--ixzKm {
  margin-left: 10px;
  cursor: pointer;
  color: var(--text-primary, #1e202c);
}
@media (max-width: 950px) {
  .snsShare--xgILf .button--ixzKm {
    margin-left: 0;
    margin-right: 10px;
  }
}

.textarea--aqnKF {
  font-family: Helvetica Neue;
  height: 200px;
  width: 100%;
  padding: 8px 12px;
  background: var(--input-bg, #fff);
  border: 1px solid var(--light-border, #c1c7de);
  box-sizing: border-box;
  border-radius: 6px;
  resize: vertical;
  max-height: 60vh;
  color: var(--text-primary, #1e202c);
}
.textarea--aqnKF:invalid {
  border: 1px solid var(--input-invalid-border, #fb2047);
}
.textarea--aqnKF:valid:not(:placeholder-shown) {
  border: 1px solid var(--input-valid-border, #2bc128);
}

.content--TiUmQ {
  display: flex;
  align-items: center;
  background-color: #23222e;
  padding: 12px 18px;
  width: 380px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fcfcfd;
}
.content--TiUmQ .icon--vfgyS {
  margin-right: 18px;
  flex-shrink: 0;
}
.content--TiUmQ .texts--pkoVJ {
  flex-grow: 1;
}
.content--TiUmQ .title--SGEFD {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fcfcfd;
}
.content--TiUmQ .message--mAE0E {
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.content--TiUmQ.success--gZYEM {
  background-color: #45b36b;
}
.content--TiUmQ.error--n7JGE {
  background: #ff406e;
}
.content--TiUmQ.error--n7JGE .title--SGEFD {
  color: #fff;
}
.content--TiUmQ.warning--m999N .message--mAE0E {
  color: #ff5f5f;
}
.content--TiUmQ .closeButton--A5hF7 {
  cursor: pointer;
}
.toastAriaContainerFix--CzDHh {
  margin: 0;
}

.icon--BXs6s {
  border-radius: 50%;
}

.list--ctZ_4 .item--KJGKm {
  margin-bottom: 12px;
  border-radius: 12px;
  padding: 6px;
}
.list--ctZ_4 .item--KJGKm:hover {
  background-color: var(--light-background, #f6f8f8);
}
.token--As1vg {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.token--As1vg.disabled--UdBFs {
  opacity: 0.4;
  cursor: not-allowed;
}
.token--As1vg .icon--gfd01 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.token--As1vg .info--Y4PrJ {
  margin-left: 7px;
  flex-grow: 1;
}
.token--As1vg .balance--TqpWU {
  font-size: 14px;
  line-height: 16px;
}
.info--Y4PrJ {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
}
.info--Y4PrJ .symbol--Aj2I3 {
  font-size: 14px;
  line-height: 16px;
  color: var(--text-primary, #141416);
}
.info--Y4PrJ .name--sS4Ma {
  margin-top: 5px;
  font-size: 12px;
  line-height: 12px;
  text-transform: capitalize;
  color: #777e91;
}

.uploadBox--V6Yp4 {
  border: 1px dashed var(--upload-border, #99afff);
  width: 480px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--upload-bg, #f0f2f6);
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  border-radius: 4px;
  color: #a6acc4;
}
.uploadBox--V6Yp4 .previewImage--w36rB {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.uploadBox--V6Yp4.error--cJyhL {
  color: var(--text-error, #fb2047);
  border-color: var(--upload-error-border, #ff9eaf);
}
.uploadBox--V6Yp4.dragingIn--YVXHE {
  border-color: var(--upload-active-border, #ff9eaf);
  border-style: solid;
  outline: 1px solid var(--upload-active-border, #ff9eaf);
}
.inner--x15NO {
  text-align: center;
}
.description--AtOWl {
  display: flex;
  color: #454a5f;
}
.description--AtOWl .texts--gypaZ {
  width: 280px;
  text-align: center;
}
.description--AtOWl .texts--gypaZ p {
  margin-top: 25px;
}
.description--AtOWl .filetypes--uK1kA {
  color: var(--step-text, #737992);
}
.description--AtOWl .highlight--Jd3Xt {
  color: #0057ff;
}
.darkMode .description--AtOWl .texts--gypaZ {
  color: #d9ddea;
}

.container--HYoHI {
  display: inline-flex;
  align-items: center;
}
.button--l9zMW {
  color: #a6acc4;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  flex-shrink: 0;
  display: inline-block;
}
.button--l9zMW.disabled--E_dNa {
  opacity: 0.5;
  cursor: not-allowed;
}
.input--BiDBK {
  text-align: center;
  width: 30px;
  box-sizing: border-box;
  height: 24px;
  border: 1px solid #a6acc4;
  outline: none;
  margin: 0 12px;
}
.input--BiDBK[type='number']::-webkit-outer-spin-button,
.input--BiDBK[type='number']::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.input--BiDBK[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
}

.buyBox--seiZg {
  width: 480px;
}
.infos--bFys7 .meta--E_l00 {
  margin-top: 10px;
  line-height: 24px;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
}
.infos--bFys7 .requirement--NM3zg {
  font-size: 13px;
}
.cost--p1xzn {
  display: flex;
  flex-direction: column;
  color: var(--text-primary, #1e202c);
}
.cost--p1xzn .estimate--pxjQf {
  margin-top: 10px;
}
.estimate--pxjQf {
  height: 44px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-primary, #1e202c);
}
.currency--necra {
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.currency--necra .value--V2w1w {
  font-size: 32px;
  line-height: 40px;
  margin: 0 5px;
}
.currency--necra .unit--gXY3e {
  font-size: 14px;
  line-height: 24px;
  margin: 0 5px;
}
.buttonGroup--QYpdJ {
  margin-top: 20px;
}
.buttonGroup--QYpdJ .button--wbcK7 {
  margin-top: 10px;
  display: flex;
}
.button--wbcK7 .tokenIcon--qAlDP {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.toastMessage--DsCZy {
  display: flex;
  align-items: center;
}
.toastMessage--DsCZy a {
  color: inherit;
}
.drawMessage--PmY5Q {
  display: flex;
  align-items: center;
}
.drawMessage--PmY5Q a {
  color: var(--text-link, #0057ff);
}

.dialog--nb0bf {
  width: 480px;
}
.searchGroup--QgjTH {
  display: flex;
}
.searchGroup--QgjTH .input--Qq2BO {
  flex-grow: 1;
}
.tokenList--BrQ8K {
  margin-top: 24px;
  height: 258px;
  overflow: auto;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.newList--GR3WY .row--URZjX {
  display: flex;
}
.newList--GR3WY .row--URZjX .token--JPWus {
  flex-grow: 1;
}
.noResult--pmil3 {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}
.noResult--pmil3 .keyword--PXkCf {
  font-weight: bold;
}

.maskbox--lyfr0 {
  font-family: Helvetica Neue;
  color: var(--text-primary, #1e202c);
  display: flex;
}
.maskbox--lyfr0 .interaction--WVLgP {
  margin-left: 28px;
  flex-grow: 1;
}
.maskbox--lyfr0 .snsShare--b22Ub {
  margin-top: 12px;
  flex-shrink: 0;
}
.media--Nlu0u {
  width: 480px;
  height: 320px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--image-placeholder-bg, #e4e8f1);
  color: var(--text-secondary, #f0f2f6);
  flex-shrink: 0;
}
.media--Nlu0u img {
  object-fit: cover;
}
.interaction--WVLgP .drawButton--fsxAt {
  width: 400px;
  margin-top: 28px;
}
.infoList--tPqYA .name--lecQD {
  font-weight: bold;
  font-size: 34px;
  width: 480px;
}
.infoList--tPqYA .name--lecQD a {
  text-decoration: none;
  color: inherit;
}
.infoList--tPqYA .name--lecQD a:hover {
  text-decoration: underline;
}
.infoList--tPqYA .infoRow--USoYU {
  font-size: 18px;
  line-height: 24px;
  margin-top: 28px;
}
@media (max-width: 414px) {
  .maskbox--lyfr0 {
    flex-direction: column;
  }
  .maskbox--lyfr0 .interaction--WVLgP {
    margin-left: 0;
    margin-top: 24px;
  }
  .media--Nlu0u {
    width: 100%;
    height: 216px;
  }
  .infoList--tPqYA .name--lecQD {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
  }
  .infoList--tPqYA .infoRow--USoYU {
    font-size: 14px;
    margin-top: 12px;
  }
  .interaction--WVLgP .drawButton--fsxAt {
    width: 100%;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .list--NYUaw {
    margin-left: 40px;
    margin-right: 40px;
  }
  .media--Nlu0u {
    width: 304px;
    height: 185px;
  }
  .infoList--tPqYA .name--lecQD {
    font-size: 22px;
    font-weight: bold;
    white-space: normal;
  }
  .infoList--tPqYA .infoRow--USoYU {
    font-size: 14px;
    margin-top: 4px;
  }
  .interaction--WVLgP .drawButton--fsxAt {
    width: auto;
    width: 100%;
    margin-top: 8px;
  }
}

.maskbox--IuWA5 {
  background-color: var(--footer-background, #f0f2f6);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  position: relative;
}
.maskbox--IuWA5 .interaction--gnpQE {
  margin-left: 32px;
}
.maskbox--IuWA5 .snsShare--cG4pD {
  position: absolute;
  right: 20px;
  top: 20px;
}
.media--lkaTj {
  width: 312px;
  height: 188px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darker-background, #d9ddea);
  color: var(--text-secondary, #f0f2f6);
  flex-shrink: 0;
}
.media--lkaTj img {
  object-fit: cover;
}
.infoList--ZhwDX {
  font-size: 16px;
  line-height: 20px;
}
.infoList--ZhwDX .name--pKsSb {
  color: var(--text-primary, #1e202c);
}
.infoList--ZhwDX .infoRow--KAVJQ {
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.infoList--ZhwDX .infoRow--KAVJQ .rowName--iQbaJ {
  color: var(--text-secondary, #f0f2f6);
}
.infoList--ZhwDX .infoRow--KAVJQ .rowValue--UWSBf {
  color: var(--text-primary, #1e202c);
  margin-left: 12px;
}
.infoList--ZhwDX .statusBadge--Kuh2_ {
  margin-left: 12px;
}
.operations--y4sve {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 14px;
}
.buttons--aPA3A {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.cancelDialog--IN1uQ {
  width: 600px;
}
.cancelDialog--IN1uQ .infoList--ZhwDX .infoRow--KAVJQ {
  margin-top: 18px;
  justify-content: space-between;
}
.cancelDialog--IN1uQ .buttons--aPA3A {
  margin-top: 40px;
}
.editDialog--j9wEd {
  width: 350px;
}
.editDialog--j9wEd .texts--b0uGb {
  color: var(--text-darker, #f9f9f9);
}
.editDialog--j9wEd .buttons--aPA3A {
  margin-top: 40px;
}

.searchGroup--xnIP7 {
  display: flex;
}
.searchGroup--xnIP7 .input--KC0EP {
  flex-grow: 1;
  margin-right: 24px;
}
.selectList--vos1Y {
  margin-top: 20px;
  height: 450px;
  overflow: auto;
  width: 550px;
}
.empty--SaHVA {
  height: 450px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary, #1e202c);
}
.buttonGroup--KuwYI {
  margin-top: 24px;
}
.summary--EH4NA {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.summary--EH4NA .warning--sp9hg {
  color: var(--text-error, #fb2047);
}
.summary--EH4NA .total--WczBy {
  margin-right: 4px;
}
.summary--EH4NA .picked--SAsdi {
  margin-left: auto;
  color: var(--text-link, #0057ff);
}
.searchView--oE7kO {
  width: 549px;
  min-height: 235px;
}
.searchView--oE7kO .status--LHCJ0 {
  min-height: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchView--oE7kO .notfound--Hx7Mv span {
  color: var(--text-link, #0057ff);
}
.searchView--oE7kO .notfound--Hx7Mv.expand--H1irk {
  min-height: 235px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer--TK1HU {
  display: flex;
  padding: 80px 20px 20px;
  box-sizing: border-box;
  font-size: 16px;
  align-items: center;
  background-color: var(--footer-background, #f0f2f6);
  color: var(--text-primary, #1e202c);
}
.footer--TK1HU .inner--lAcQD {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 414px) {
  .footer--TK1HU {
    display: block;
    padding: 56px 20px 0;
  }
  .footer--TK1HU .inner--lAcQD {
    width: auto;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .footer--TK1HU {
    padding-top: 56px;
  }
  .footer--TK1HU .inner--lAcQD {
    width: 100%;
  }
}
.info--DW0td {
  display: flex;
}
.info--DW0td .left--xseLF {
  width: 352px;
}
.info--DW0td .right--xSZBY {
  margin-left: 30px;
}
@media (max-width: 414px) {
  .info--DW0td {
    flex-direction: column;
  }
  .info--DW0td .left--xseLF {
    width: auto;
  }
  .info--DW0td .right--xSZBY {
    margin-left: 0;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .info--DW0td .left--xseLF {
    width: 280px;
  }
}
.brand--WHeXI .slogan--LO4WC {
  font-size: 18px;
  line-height: 24px;
  color: #1e202c;
  font-weight: 700;
  margin-top: 20px;
}
.newsletter--Va_5K {
  margin-top: 32px;
}
.linkGroups--vFQkS {
  display: flex;
  flex-direction: row;
}
.linkGroups--vFQkS .linkGroup--BEAbR {
  padding-left: 32px;
}
@media (max-width: 414px) {
  .linkGroups--vFQkS {
    flex-direction: column;
  }
  .linkGroups--vFQkS .linkGroup--BEAbR {
    padding-left: 0;
    margin-top: 32px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .linkGroups--vFQkS .linkGroup--BEAbR {
    padding-left: 0;
  }
}
.linkGroup--BEAbR {
  width: 215px;
}
.linkGroup--BEAbR .groupTitle--r8L5I {
  font-weight: 500;
  font-size: 16px;
}
.linkGroup--BEAbR .link--qwsE6 {
  margin-top: 40px;
}
@media (min-width: 414px) and (max-width: 950px) {
  .linkGroup--BEAbR {
    width: 150px;
  }
}
.links--PAu3p .link--qwsE6 {
  line-height: 24px;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
}
.links--PAu3p .link--qwsE6 a {
  color: var(--text-light-secondary, #8c92ab);
  text-decoration: none;
}
.links--PAu3p .link--qwsE6 a:hover {
  text-decoration: underline;
}
@media (max-width: 414px) {
  .links--PAu3p .link--qwsE6 {
    margin-top: 40px;
  }
}
.floor--G7Z_q {
  margin-top: 48px;
  border-top: 1px solid var(--light-divider, #c1c7de);
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  color: var(--text-light-secondary, #8c92ab);
  font-size: 12px;
}
.floor--G7Z_q .gdpr--SIFXP {
  color: var(--text-primary, #1e202c);
}
@media (max-width: 414px) {
  .floor--G7Z_q {
    padding-bottom: 56px;
    flex-direction: column;
    border-top: 1px solid var(--light-divider, #c1c7de);
    text-align: center;
  }
  .floor--G7Z_q .gdpr--SIFXP {
    margin-top: 20px;
  }
}
.gdpr--SIFXP .acceptButton--I7BvH {
  font-weight: bold;
  color: #0057ff;
  text-decoration: none;
  cursor: pointer;
  margin-left: 16px;
}

.pageHeader--xfQUR {
  height: 74px;
  box-sizing: border-box;
  background: var(--background, '#ffffff');
  transition: background-color var(--theme-transition-duration, 0.1s) ease;
  border-bottom: solid 1px var(--top-border);
}
.pageHeader--xfQUR .inner--upv4Y {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 100%;
}
.pageHeader--xfQUR .langSwitch--pFfc0 {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-primary, #1e202c);
}
@media (max-width: 1400px) {
  .pageHeader--xfQUR {
    display: flex;
  }
  .pageHeader--xfQUR .langSwitch--pFfc0 {
    position: relative;
    margin-left: 10px;
  }
}
@media (max-width: 414px) {
  .pageHeader--xfQUR {
    display: block;
    border-bottom: none;
    height: 48px;
  }
  .pageHeader--xfQUR .inner--upv4Y {
    padding: 0 20px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .pageHeader--xfQUR {
    display: block;
    height: 56px;
  }
  .pageHeader--xfQUR .inner--upv4Y {
    padding: 0 20px;
  }
}
.nav--ymcRE {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
}
.nav--ymcRE .navItem--BpGZ7 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  white-space: nowrap;
  color: var(--nav-text, #8c92ab);
  transition: color var(--theme-transition-duration, 0.1s) ease;
  margin: 10px;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
}
.nav--ymcRE .navItem--BpGZ7.activeNav--Gp6lS {
  color: var(--active-nav-text, #1e202c);
  background-clip: text;
  -webkit-background-clip: text;
}
.popupNav--BLBzu {
  background-color: var(--background, #fff);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  display: none;
}
.popupNav--BLBzu.open--ugo9G {
  display: flex;
}
.popupNav--BLBzu .navItem--BpGZ7 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  white-space: nowrap;
  color: var(--nav-text, #8c92ab);
  transition: color var(--theme-transition-duration, 0.1s) ease;
  margin: 10px;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
}
.popupNav--BLBzu .navItem--BpGZ7.activeNav--Gp6lS {
  color: var(--active-nav-text, #1e202c);
  background-clip: text;
  -webkit-background-clip: text;
}
.popupNav--BLBzu .langSwitchItem--ZdZoD {
  height: 30px;
  color: var(--text-primary, #1e202c);
}
.brand--ptYba {
  display: flex;
  align-items: center;
  width: 171px;
  height: 51px;
}
.brand--ptYba select {
  height: 20px;
  width: 100px;
  margin-left: 16px;
}
@media (max-width: 950px) {
  .brand--ptYba {
    width: 109px;
    height: 32px;
  }
}
.operations--MnXiB {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.operations--MnXiB .button--FmgIM {
  margin-left: 10px;
  cursor: pointer;
  display: flex;
}
.operations--MnXiB .button--FmgIM .icon--F38cF {
  margin-right: 10px;
}
.operations--MnXiB .menuButton--y6J9F {
  display: none;
  color: var(--text-primary, #1e202c);
}
@media (max-width: 950px) {
  .pageHeader--xfQUR .inner--upv4Y {
    width: auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
  .nav--ymcRE {
    display: none;
  }
  .operations--MnXiB .button--FmgIM:not(.themeToggleButton--FQCUF) {
    display: none;
  }
  .operations--MnXiB .menuButton--y6J9F {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .langSwitch--pFfc0 {
    display: none;
  }
}

.container--kev1R {
  min-height: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text--hRw2T {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary, #1e202c);
}
.button--W03Nk {
  margin-top: 20px;
}

.container--fWZ0j {
  min-height: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text--B2v_M {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary, #1e202c);
}
.button--tanzQ {
  margin-top: 20px;
}

.shareBox--YmUmY {
  width: 480px;
}
.nftList--zxoiH {
  display: grid;
  height: 210px;
  overflow: auto;
  grid-gap: 20px 0;
  grid-template-columns: 1fr 1fr;
}
.nftList--zxoiH .item--RrS7G {
  display: flex;
  justify-content: center;
}
.buttonGroup--ZE9eO {
  margin-top: 30px;
}

.container--qm5HW {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box--QTR6t {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
.box--QTR6t .title--IC0ib {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
}
.box--QTR6t .subtitle--oJN2g {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #fcfcfd;
}
.box--QTR6t::before,
.box--QTR6t::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 360px;
  height: 6px;
  background: #fcfcfd;
}
.box--QTR6t::before {
  left: 0;
  transform: translateX(-100%);
}
.box--QTR6t::after {
  right: 0;
  transform: translateX(100%);
}
.box--QTR6t .countdown--q4BCC {
  margin-top: 46px;
}

.walletDocker--HMkMe {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.operations--Mcz94 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.operations--Mcz94 .button--uZVNU {
  margin-left: 10px;
  cursor: pointer;
  display: flex;
}
.operations--Mcz94 .button--uZVNU .icon--zcN9m {
  margin-right: 10px;
}
.operations--Mcz94 .menuButton--PyrZH {
  display: none;
  color: var(--text-primary, #1e202c);
}

.list--QLmym {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.list--QLmym .item--ySEJ0 {
  margin-top: 80px;
}
.paginaton--zrXgt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.paginaton--zrXgt .button--GyLhv {
  width: 100px;
  margin: 0 20px;
}
.loadingBox--jzwdi {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-primary, #1e202c);
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 950px) {
  .loadingBox--jzwdi {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .list--QLmym {
    width: auto;
    margin-bottom: 40px;
  }
  .list--QLmym .item--ySEJ0 {
    margin: 40px 20px 24px;
  }
  .paginaton--zrXgt {
    margin-bottom: 40px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .list--QLmym {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
}
.status--ZbOeC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.status--ZbOeC .text--nluoI {
  font-family: Helvetica Neue;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  color: var(--text-primary, #1e202c);
}

.main--fT_ZO {
  font-family: Helvetica Neue;
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  color: var(--text-primary, #1e202c);
}
.title--x3RjI {
  font-size: 34px;
  line-height: 40px;
  margin-top: 40px;
}
.maskbox--shJl5 {
  margin-top: 80px;
}
.urlBoxContent--gYobc {
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  flex-direction: column;
}
.urlBoxContent--gYobc .url--drLSa {
  white-space: nowrap;
}
.urlBoxContent--gYobc a {
  margin: 0 0.5em;
  color: #0057ff;
}
.detailsContent--AR2r2 {
  max-height: 480px;
  overflow: auto;
}
.detailsContent--AR2r2 .nftList--EE19a {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.detailsContent--AR2r2 .loadmore--hqlOP {
  display: flex;
  width: 300px;
  margin: 16px auto;
}
@media (max-width: 414px) {
  .main--fT_ZO {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .detailsContent--AR2r2 .nftList--EE19a {
    gap: 15px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .main--fT_ZO {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.editPage--npPBN {
  color: var(--text-primary, #1e202c);
  box-sizing: border-box;
  width: 1120px;
  padding-right: 520px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}
.title--O4UcO {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 80px;
}
.section--uoDOi {
  margin-top: 10px;
}
.section--uoDOi .sectionTitle--SX4Xy {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
}
.section--uoDOi .field--bvJyu {
  margin-top: 16px;
}
.sectionTitle--SX4Xy {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.sectionTitle--SX4Xy .step--s4y6Q {
  color: var(--step-text, #737992);
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  margin-left: auto;
}
.sectionTitle--SX4Xy .backButton--_Oe9b {
  position: absolute;
  right: -520px;
  bottom: 0;
}
.field--bvJyu .cell--_VJ0q {
  font-size: 16px;
  margin-top: 16px;
}
.field--bvJyu input[type='datetime-local'] {
  font-size: 14px;
  padding: 12px;
}
.field--bvJyu .clickableInput--mRv26 input:not(:disabled) {
  cursor: pointer;
}
.field--bvJyu .error--PLE3k {
  color: var(--text-error, #fb2047);
}
.mediaField--_Ge5h {
  width: 480px;
}
.selectGroup--XaAwq {
  margin-top: 10px;
}
.selectGroup--XaAwq .selectType--yAX0D {
  cursor: pointer;
  margin-right: 16px;
}
.rowFieldGroup--Qf_Nl {
  display: flex;
  justify-content: space-between;
}
.rowFieldGroup--Qf_Nl .field--bvJyu {
  width: 286px;
}
.warning--YDyIP {
  margin-top: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--text-error, #fb2047);
}
.mediaRestButton--FRWw8 {
  margin-top: 12px;
}
.buttonGroup--rYsJB {
  display: flex;
}
.buttonGroup--rYsJB .button--ek857 {
  margin-right: 16px;
}
.selectedNft--HXOBM {
  padding: 16px 12px;
  background: var(--well-bg, #fff);
  border: 1px solid var(--input-border, #c1c7de);
  box-sizing: border-box;
  border-radius: 6px;
  max-height: 700px;
  overflow: auto;
}
.buttonList--kqHIf .button--ek857 {
  margin-top: 16px;
}
.validations--e3C5N {
  color: var(--input-invalid-border, #2bc128);
}
.tokenIcon--bEz87 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.inputToken--wqywT,
.pickButton--zbFtw {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--text-primary, #1e202c);
}
.inputToken--wqywT .tokenSymbol--FqGVe,
.pickButton--zbFtw .tokenSymbol--FqGVe {
  margin: 0 10px;
}
.inputToken--wqywT {
  cursor: default;
}

.confirmDialog--L75xp {
  width: 600px;
}
.meta--Ig6fA {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.meta--Ig6fA .name--ulG_k {
  font-weight: bold;
}
.meta--Ig6fA .value--mZtBx {
  display: flex;
  align-items: center;
}
.nftList--RSLBo {
  max-height: 426px;
  overflow: auto;
  grid-gap: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nftList--RSLBo .nft--IKHWe {
  width: 175px;
}

.article--BBGUb {
  width: 1120px;
  margin: 120px auto;
  color: var(--text-primary, #1e202c);
}
.article--BBGUb .title--UNQrG {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 80px;
}
.faqList--fdJVs {
  margin-left: 110px;
  width: 954px;
}
@media (max-width: 950px) {
  .article--BBGUb {
    width: auto;
    margin-top: 40px;
  }
  .article--BBGUb .title--UNQrG {
    margin-bottom: 60px;
  }
  .faqList--fdJVs {
    width: auto;
  }
}
@media (max-width: 414px) {
  .article--BBGUb {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .article--BBGUb .title--UNQrG {
    font-size: 22px;
  }
  .faqList--fdJVs {
    margin-left: 64px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .article--BBGUb {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
  .faqList--fdJVs {
    margin-left: 90px;
  }
}

.frame--JNgRy {
  height: 800px;
  background: #0c0c0c;
}
@media (max-width: 414px) {
  .frame--JNgRy {
    height: 505px;
  }
}
.frame--JNgRy .content--P5YgI {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 950px) {
  .frame--JNgRy .content--P5YgI {
    width: auto;
  }
}
@media (max-width: 414px) {
  .frame--JNgRy .content--P5YgI {
    flex-direction: column-reverse;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .frame--JNgRy .content--P5YgI .texts--KFgp2 {
    text-align: center;
  }
}
.frame--JNgRy .title--IikmA {
  font-size: 46px;
  color: #fff;
  line-height: 56px;
  font-family: Helvetica Neue;
}
@media (max-width: 414px) {
  .frame--JNgRy .title--IikmA {
    font-size: 22px;
    line-height: 32px;
  }
}
.frame--JNgRy .description--kY0RL {
  font-size: 18px;
  line-height: 24px;
  color: #d9ddea;
}
.frame--JNgRy .description--kY0RL a {
  color: inherit;
  text-decoration: none;
}
.frame--JNgRy .description--kY0RL a:hover {
  text-decoration: underline;
}
@media (max-width: 414px) {
  .frame--JNgRy .description--kY0RL {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .frame--JNgRy {
    height: 620px;
  }
  .frame--JNgRy .title--IikmA {
    font-size: 34px;
    padding: 0 20px;
  }
}
.content--P5YgI {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.content--P5YgI .image--JO__f {
  max-width: 500px;
  max-height: 450px;
}
.content--P5YgI .image--JO__f img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 414px) and (max-width: 950px) {
  .content--P5YgI .image--JO__f {
    max-width: 400px;
    max-height: 310px;
  }
}
.heroFrame--Jw_ez {
  background-image: url(/1d03417cb6bd23a03e24.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 414px) {
  .heroFrame--Jw_ez {
    height: 240px;
  }
}
.heroFrame--Jw_ez .content--P5YgI {
  padding-top: 260px;
  display: block;
}
@media (max-width: 414px) {
  .heroFrame--Jw_ez .content--P5YgI {
    padding: 32px 0;
  }
}
.heroFrame--Jw_ez .title--IikmA {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 414px) {
  .heroFrame--Jw_ez .title--IikmA {
    width: 207px;
  }
}
.heroFrame--Jw_ez .description--kY0RL {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 475px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
@media (max-width: 950px) {
  .heroFrame--Jw_ez .description--kY0RL {
    margin-bottom: 12px;
    width: auto;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .heroFrame--Jw_ez {
    height: 492px;
    padding-left: 129px;
    padding-right: 129px;
  }
  .heroFrame--Jw_ez .content--P5YgI {
    padding-top: 135px;
  }
}
.leftFrame--zeGeW {
  background-position: center;
  background-repeat: no-repeat;
  background: #0c0c0c;
}
.leftFrame--zeGeW .content--P5YgI {
  padding-top: 232px;
  flex-direction: row-reverse;
}
@media (max-width: 414px) {
  .leftFrame--zeGeW .content--P5YgI {
    flex-direction: column-reverse;
    padding-top: 56px;
  }
}
.leftFrame--zeGeW .title--IikmA {
  width: 475px;
}
@media (max-width: 414px) {
  .leftFrame--zeGeW .title--IikmA {
    width: auto;
  }
}
.leftFrame--zeGeW .description--kY0RL {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 475px;
}
@media (max-width: 414px) {
  .leftFrame--zeGeW .description--kY0RL {
    width: auto;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .leftFrame--zeGeW .content--P5YgI {
    width: auto;
    flex-direction: column-reverse;
    padding-top: 56px;
  }
  .leftFrame--zeGeW .texts--KFgp2 {
    width: auto;
    text-align: center;
  }
  .leftFrame--zeGeW .title--IikmA {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
  .leftFrame--zeGeW .description--kY0RL {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
.rightFrame--Fn4FE {
  background-position: center;
  background-repeat: no-repeat;
  background: #1b1b1b;
}
.rightFrame--Fn4FE .content--P5YgI {
  width: 1200px;
  padding-top: 232px;
}
@media (max-width: 414px) {
  .rightFrame--Fn4FE .content--P5YgI {
    width: auto;
    padding-top: 56px;
  }
}
.rightFrame--Fn4FE .title--IikmA {
  width: 475px;
}
@media (max-width: 414px) {
  .rightFrame--Fn4FE .title--IikmA {
    width: auto;
  }
}
.rightFrame--Fn4FE .description--kY0RL {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 475px;
}
@media (max-width: 414px) {
  .rightFrame--Fn4FE .description--kY0RL {
    width: auto;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .rightFrame--Fn4FE .content--P5YgI {
    width: auto;
    flex-direction: column-reverse;
    padding-top: 56px;
  }
  .rightFrame--Fn4FE .texts--KFgp2 {
    width: auto;
    text-align: center;
  }
  .rightFrame--Fn4FE .title--IikmA {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
  .rightFrame--Fn4FE .description--kY0RL {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header--b6lzC {
  background-image: url(/558c2566c0b6309f512b.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 198px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header--b6lzC .avatar--m6q2P {
  position: relative;
  bottom: -48px;
}
.main--YFHHo {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding-bottom: 30px;
}
.emptyContainer--_HPoq {
  display: flex;
  height: 550px;
  justify-content: center;
  align-items: center;
}
.nftList--TMesk {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.status--brsFx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.status--brsFx .text--ZbSoV {
  font-family: Helvetica Neue;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
@media (max-width: 950px) {
  .main--YFHHo .nftList--TMesk {
    gap: 15px;
  }
  .header--b6lzC {
    display: none;
  }
}
@media (max-width: 414px) {
  .main--YFHHo {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .main--YFHHo {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
}
.collection--OOk3i .listContainer--R_fmd {
  max-height: 480px;
  overflow: auto;
  overscroll-behavior: contain;
}
.collection--OOk3i .nftList--TMesk {
  grid-gap: 30px;
}
.collection--OOk3i .loadmore--N78hi {
  display: flex;
  width: 300px;
  margin: 16px auto;
}
.collection--OOk3i .bottom--i3R67 {
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main--itpeu {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.header--b1pch {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  color: var(--text-primary, #1e202c);
}
.list--QSNIf {
  margin-bottom: 32px;
  margin-top: 120px;
}
.list--QSNIf .item--_mc6t {
  margin-top: 32px;
}
.empty--noIpc {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-primary, #1e202c);
}
.empty--noIpc .text--eslIx {
  margin: 12px;
}
.paginaton--Inx7G {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 32px;
}
.paginaton--Inx7G .button--yFiEr {
  width: 100px;
  margin: 0 20px;
}
.loadingBox--sIoO5 {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-primary, #1e202c);
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 950px) {
  .loadingBox--sIoO5 {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .list--QSNIf {
    width: auto;
    margin-bottom: 40px;
  }
  .list--QSNIf .item--_mc6t {
    margin: 40px 20px 24px;
  }
  .paginaton--Inx7G {
    margin-bottom: 40px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .list--QSNIf {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
}

html, body, #root {
  height: 100%;
}
#root {
  min-height: 100%;
}
.container--i3gxY {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 375px;
}
.container--i3gxY .header--fLXHL,
.container--i3gxY .footer--iBuTA {
  flex-shrink: 0;
  flex-grow: 0;
}
.container--i3gxY .header--fLXHL {
  width: 100%;
  position: fixed;
  z-index: 99;
}
.container--i3gxY .body--dm_K7 {
  flex-grow: 1;
  margin-top: 74px;
}
@media (max-width: 414px) {
  .container--i3gxY .body--dm_K7 {
    margin-top: 48px;
  }
}
.container--i3gxY .footer--iBuTA {
  border-top: solid 1px var(--bottom-border);
}
.walletDocker--NKu4I {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (max-width: 950px) {
  .walletDocker--NKu4I {
    display: flex;
  }
}
@media (max-width: 414px) {
  .container--i3gxY .body--dm_K7 {
    margin-top: 48px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .container--i3gxY .body--dm_K7 {
    margin-top: 56px;
  }
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
p,
dl,
dt,
dd {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.toastContainer--OPsMs {
  margin-top: 65px;
}
/* increase priority of this selector */
.toast--XY50e.toast--XY50e {
  padding: 0;
  margin: 0;
  max-width: 380px;
  background-color: transparent;
  box-shadow: none;
}
body {
  background-color: var(--background, #ffffff);
  transition: background-color var(--theme-transition-duration, 0.1s) ease;
}


/*# sourceMappingURL=main-b8a681ee4e9639867ba6.css.map*/