.section--qbMN8 {
  margin-top: 50px;
  color: var(--text-primary, #1e202c);
}
.section--qbMN8 .title--vgJKd {
  font-family: Helvetica Neue;
  font-size: 24px;
  line-height: 32px;
  padding: 10px 0;
}
.section--qbMN8 .content--xRMS7 {
  font-family: Manrope;
  font-size: 14px;
  line-height: 24px;
  margin-top: 30px;
  white-space: pre-line;
}
.title--vgJKd .text--Z8qHK {
  border-bottom: 4px solid var(--text-primary, #1e202c);
  padding-bottom: 10px;
}

.badge--wyn8m {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  height: 22px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: var(--background, #ffffff);
  color: var(--text-secondary, #8c92ab);
  border-radius: 22px;
}
.badge--wyn8m.success--K3Ei4 {
  background-color: var(--success-color, #2bc128);
  color: #fff;
}

.icon--sjYXT {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}
.icon--sjYXT path {
  transition: fill 0.2s ease;
}
.spinning--_f1wH {
  animation: spinning--_f1wH 2s infinite linear;
}
@keyframes spinning--_f1wH {
  to {
    transform: rotate(360deg);
  }
}

.button--HR88M {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 24px;
  height: 40px;
  border-radius: 6px;
  padding: 12px 20px;
  overflow: hidden;
  font-family: Helvetica Neue;
  transition: background-color var(--theme-transition-duration, 0.1s) ease, color var(--theme-transition-duration, 0.1s) ease;
  transition: transform 0.3s ease;
}
.button--HR88M.small--wGnEn {
  height: 32px;
  padding: 8px 16px;
  font-size: 12px;
}
.button--HR88M.middle--PN3Ss {
  height: 40px;
  padding: 12px 20px;
  font-size: 14px;
}
.button--HR88M.large--mr7RG {
  height: 48px;
  padding: 14px 24px;
  font-size: 16px;
}
.button--HR88M.fullWidth--_Bncl {
  display: inline-block;
  width: 100%;
}
.button--HR88M:not([disabled]):hover {
  transform: scale(1.05);
}
.button--HR88M[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.round--Gp13o {
  border-radius: 40px;
}
.round--Gp13o.small--wGnEn {
  border-radius: 32px;
}
.round--Gp13o.middle--PN3Ss {
  border-radius: 40px;
}
.round--Gp13o.large--mr7RG {
  border-radius: 48px;
}
.circle--C_FDt {
  border-radius: 40px;
  width: 40px;
}
.circle--C_FDt.small--wGnEn {
  width: 32px;
}
.circle--C_FDt.middle--PN3Ss {
  width: 40px;
}
.circle--C_FDt.large--mr7RG {
  width: 48px;
}
@media (max-width: 950px) {
  .button--HR88M {
    height: 32px;
    padding: 8px 16px;
  }
  .button--HR88M.small--wGnEn {
    height: 32px;
    padding: 6px 16px;
    font-size: 12px;
  }
  .button--HR88M.middle--PN3Ss {
    height: 32px;
    padding: 10px 18px;
    font-size: 14px;
  }
  .button--HR88M.large--mr7RG {
    height: 40px;
    padding: 12px 22px;
    font-size: 16px;
  }
  .round--Gp13o {
    border-radius: 32px;
  }
  .round--Gp13o.small--wGnEn {
    border-radius: 24px;
  }
  .round--Gp13o.middle--PN3Ss {
    border-radius: 32px;
  }
  .round--Gp13o.large--mr7RG {
    border-radius: 40px;
  }
  .circle--C_FDt {
    border-radius: 32px;
    width: 32px;
  }
  .circle--C_FDt.small--wGnEn {
    width: 24px;
  }
  .circle--C_FDt.middle--PN3Ss {
    width: 32px;
  }
  .circle--C_FDt.large--mr7RG {
    width: 40px;
  }
}
.iconHolder--JK2PV {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconHolder--JK2PV.leftIcon--Slqdk {
  margin-right: 10px;
}
.iconHolder--JK2PV.rightIcon--oZ5ts {
  margin-left: 10px;
}
.schemeDefault--OTUJ_ {
  background-color: var(--button-default-bg, #1e202c);
  color: var(--button-default-color, #ffffff);
}
.schemePrimary--_xvW7 {
  background-color: var(--button-primary-bg, #0057ff);
  color: var(--button-primary-color, #ffffff);
  /* TODO: replace with css variables */
}
.schemePrimary--_xvW7[disabled] {
  background: #99afff;
  opacity: 1;
}
.schemeLight--HiYUN {
  background-color: var(--button-light-bg, #f0f2f6);
  color: var(--button-light-color, #000000);
}
/* TODO: replace with css variables */
.schemeDanger--u0266 {
  background-color: #fb2047;
  color: #fff;
}

.countdown--yfGJv {
  display: flex;
}
.countdown--yfGJv .timefield--qLh_u {
  text-align: center;
  width: 75px;
  margin-left: 15px;
  margin-right: 15px;
}
.timefield--qLh_u .digit--_1Pyu {
  font-family: monospace;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fcfcfd;
}
.timefield--qLh_u .label--_s_X3 {
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  color: #b0b0b8;
}

.overlay--DUhxH {
  background: rgba(15, 15, 15, 0.5);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 9;
}

.dialog--Cxxp5 {
  border: 2px solid transparent;
  background: #1b1b1b;
  color: #ffffff;
  padding: 0;
  z-index: 99;
  position: fixed;
  inset: 0;
  border-image: linear-gradient(91.26deg, #8ad4ec 0%, #ef96ff 21.74%, #ff56a9 54.03%, #ffaa6c 85.28%) 2;
}
.dialog--Cxxp5 .header--nXnMf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
.dialog--Cxxp5 .body--d81oz {
  padding: 0 20px 20px;
}
.header--nXnMf {
  color: #fcfcfd;
}
.header--nXnMf .title--_w17U {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}
.header--nXnMf .closeButton--TVWKI {
  background-color: transparent;
  border: none;
  color: #fcfcfd;
  font-size: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.empty--h_57q {
  font-size: 12px;
  line-height: 16px;
  color: #fcfcfd;
  text-align: center;
}

.section--TibeB {
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--text-primary, #1e202c);
}
.section--TibeB .title--cXChr {
  font-family: Helvetica Neue;
  font-size: 22px;
  line-height: 32px;
}
.section--TibeB .content--Gchrf {
  font-family: Manrope;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  color: var(--text-secondary, #1e202c);
}
.section--TibeB .content--Gchrf a {
  color: #0057ff;
  text-decoration: none;
}
.title--cXChr {
  position: relative;
}
.title--cXChr::before {
  content: '';
  width: 16px;
  height: 2px;
  border-right: 2px;
  background-color: var(--text-primary, #1e202c);
  position: absolute;
  left: -40px;
  top: 17px;
}
@media (max-width: 950px) {
  .section--TibeB {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .section--TibeB .content--Gchrf {
    font-size: 16px;
  }
}
@media (max-width: 414px) {
  .section--TibeB .title--cXChr {
    font-size: 18px;
  }
  .section--TibeB .content--Gchrf {
    font-size: 16px;
  }
}

.field--_VOjr.required--GjIM7 .fieldName--CO76u::after {
  margin-left: 5px;
  display: inline-block;
  content: '*';
  color: #fb2047;
}
.field--_VOjr .content--r5zc0 {
  margin-top: 16px;
}
.header--TrC5G {
  display: flex;
  justify-content: space-between;
}
.header--TrC5G .tip--oAZT8 {
  font-size: 14px;
  line-height: 22px;
  color: var(--text-secondary, #8c92ab);
}

.container--Nx4ni {
  position: relative;
}
.container--Nx4ni .leftHolder--JB0DJ {
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 12px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container--Nx4ni .rightHolder--jQRlQ {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 12px;
  top: 0;
}
.input--ToXU_ {
  border-radius: 6px;
  border: 1px solid var(--light-border, #c1c7de);
  background-color: var(--input-bg, #fff);
  box-sizing: border-box;
  color: var(--text-primary, #1e202c);
  outline-color: var(--light-focus-border, #0057ff);
}
.input--ToXU_.small--_vtAd {
  height: 32px;
  padding: 8px 16px;
  font-size: 12px;
}
.input--ToXU_.small--_vtAd.round--yK_Xk {
  border-radius: 32px;
}
.input--ToXU_.middle--C0gJM {
  height: 40px;
  padding: 12px 20px;
  font-size: 14px;
}
.input--ToXU_.middle--C0gJM.round--yK_Xk {
  border-radius: 40px;
}
.input--ToXU_.large--lQVq7 {
  height: 48px;
  padding: 14px 24px;
  font-size: 16px;
}
.input--ToXU_.large--lQVq7.round--yK_Xk {
  border-radius: 48px;
}
.input--ToXU_.fullWidth--POynU {
  width: 100%;
}
.input--ToXU_.hasLeft--l_Oew {
  padding-left: 48px;
}
.input--ToXU_:invalid {
  border: 1px solid var(--input-invalid-border, #fb2047);
}
.input--ToXU_:valid:not(:placeholder-shown) {
  border: 1px solid var(--input-valid-border, #2bc128);
}
.input--ToXU_[type='number']::-webkit-outer-spin-button,
.input--ToXU_[type='number']::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.input--ToXU_[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
}

.dialog--z5d4R {
  width: 480px;
}
.step--_MqgO {
  margin-bottom: 24px;
}
.step--_MqgO .stepTitle--tir45 {
  font-size: 16px;
  line-height: 24px;
}
.step--_MqgO .stepContent--mkRlC {
  margin-top: 20px;
}
.list--kJgjB {
  display: flex;
}
.list--kJgjB .option--_5gUW {
  cursor: pointer;
  text-align: center;
  width: 48px;
  margin-right: 40px;
}
.option--_5gUW .name--DLwQ1 {
  font-size: 12px;
  color: var(--text-secondary, #f0f2f6);
}
.option--_5gUW.selected--aO0WY .name--DLwQ1 {
  color: var(--text-primary, #1e202c);
}

html {
  --theme-transition-duration: 0.3s;
  --background: #ffffff;
  --light-background: #f6f8f8;
  --top-border: #d9ddea;
  --bottom-border: #d9ddea;
  --footer-background: #f0f2f6;
  --border: #d9ddea;
  --darker-background: #d9ddea;
  --button-default-bg: #1e202c;
  --button-default-color: #ffffff;
  --button-primary-bg: #0057ff;
  --button-primary-color: #fff;
  --button-light-bg: #f0f2f6;
  --button-light-color: #000;
  --nav-text: #8c92ab;
  --active-nav-text: #1e202c;
  --text-primary: #1e202c;
  --text-darker: #454a5f;
  --text-secondary: #8c92ab;
  --text-link: #0057ff;
  --text-error: #fb2047;
  --light-divider: #c1c7de;
  --light-border: #c1c7de;
  --input-bg: #fff;
  --input-border: #c1c7de;
  --input-focus-border: #0057ff;
  --input-invalid-border: #fb2047;
  --input-valid-border: #2bc128;
  --upload-border: #99afff;
  --upload-error-border: #ff9eaf;
  --upload-bg: #f0f2f6;
  --upload-error-bg: rgba(251, 32, 71, 0.1);
  --upload-active-border: #0057ff;
  --dialog-shadow: 0px 10px 30px 3px rgba(5, 16, 55, 0.15);
  --well-bg: #fff;
  --add-button-bg: #f0f2f6;
  --step-text: #737992;
  --section-title: #1e202c;
  --image-placeholder-bg: #f0f2f6;
  --wallet-bg: #f0f2f6;
  --success-color: #2bc128;
}
html .darkMode {
  --background: #000000;
  --light-background: #111111;
  --top-border: #313545;
  --bottom-border: #313545;
  --footer-background: #1e202c;
  --darker-background: #313545;
  --button-default-bg: #ffffff;
  --button-default-color: #000;
  --button-primary-bg: #0057ff;
  --button-primary-color: #fff;
  --button-light-bg: #313545;
  --button-light-color: #fff;
  --nav-text: #737992;
  --active-nav-text: #fff;
  --text-primary: #fff;
  --text-darker: #f9f9f9;
  --text-secondary: #f0f2f6;
  --text-link: #0057ff;
  --text-error: #fb2047;
  --light-divider: #313545;
  --light-border: #c1c7de;
  --input-bg: #1e202c;
  --input-border: #454a5f;
  --input-focus-border: #0057ff;
  --upload-border: #8c92ab;
  --upload-error-border: #ff9eaf;
  --upload-bg: #1e202c;
  --upload-error-bg: rgba(251, 32, 71, 0.1);
  --upload-active-border: #0057ff;
  --dialog-shadow: 0px 10px 30px 3px rgba(155, 155, 155, 0.15);
  --well-bg: #1e202c;
  --add-button-bg: #313545;
  --step-text: #737992;
  --section-title: #f0f2f6;
  --image-placeholder-bg: #1e202c;
  --wallet-bg: #313545;
  --success-color: #2bc128;
}
html .darkMode ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.langSwitch--UKaNZ {
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  white-space: nowrap;
}
.langSwitch--UKaNZ .icon--VMA8x {
  margin: 0 6px;
}
.langSwitch--UKaNZ .langs--_eDbt {
  position: absolute;
  right: 0;
  top: 30px;
}
.labels--_1feA {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.langs--_eDbt {
  background-color: var(--background, #fff);
  width: 100%;
  border: 1px solid var(--border, #d9ddea);
  border-radius: 4px;
  overflow: hidden;
}
.langs--_eDbt .lang--GUblZ {
  cursor: pointer;
  line-height: 35px;
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
}
.langs--_eDbt .lang--GUblZ:hover {
  background-color: var(--button-primary-bg, #0057ff);
  color: var(--button-primary-color, #fff);
}


.newsletter--x08RU .newsletterTitle--P2DBd {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary, #1e202c);
  font-weight: 500;
}
.newsletter--x08RU .form--IVIer {
  margin-top: 10px;
  position: relative;
}
.newsletter--x08RU .form--IVIer .input--VRgiM {
  border: 2px solid var(--light-divider, #c1c7de);
  background-color: var(--input-bg, transparent);
  height: 48px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 48px;
  padding-left: 16px;
  outline: none;
  font-size: 14px;
  color: var(--text-primary, #1e202c);
}
.newsletter--x08RU .form--IVIer .button--vbKbo {
  position: absolute;
  right: 8px;
  top: 8px;
}

.nft--_nceq {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.nft--_nceq .image--_V2HO {
  width: 100%;
  font-size: 0;
  height: 150px;
}
.nft--_nceq .image--_V2HO img {
  object-fit: cover;
  width: 100%;
}
.nft--_nceq.sold--_gBZE .image--_V2HO {
  opacity: 0.5;
}
.nft--_nceq .info--dsvG4 {
  flex-shrink: 0;
  line-height: 20px;
}
.nft--_nceq.sold--_gBZE .info--dsvG4 div {
  opacity: 0.5;
}
.nft--_nceq .mask--GEWc_ {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.info--dsvG4 {
  padding: 8px;
  box-sizing: border-box;
  color: #ebebf1;
  font-size: 14px;
  background: #23222e;
}
.info--dsvG4 .contractName--T9NIA {
  font-weight: bold;
}
.info--dsvG4 .name--jqM_3 {
  font-weight: normal;
}
.info--dsvG4 .meta--mFWg6 {
  display: flex;
  justify-content: space-between;
}
.nftList--PzOrh {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 64px;
}
.nftList--PzOrh .nftItem--pDkFW {
  width: 200px;
}
@media (max-width: 950px) {
  .nft--_nceq {
    width: 160px;
  }
}
@media (max-width: 414px) {
  .info--dsvG4 {
    font-size: 12px;
  }
  .info--dsvG4 .meta--mFWg6 {
    font-size: 10px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .info--dsvG4 {
    font-size: 13px;
  }
  .info--dsvG4 .meta--mFWg6 {
    font-size: 11px;
  }
}

.list--vpE97 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}
.list--vpE97 .item--VoEaT {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item--VoEaT {
  position: relative;
}
.item--VoEaT .checkbox--DI56P {
  position: absolute;
  right: 10px;
  top: 10px;
}
.addItem--_KN_f {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--add-button-bg, #f0f2f6);
  width: 175px;
  height: 186px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.nft--KjlE9 {
  width: 175px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}

.dialog--M1T1j {
  background-color: var(--background, #fff);
  color: var(--text-primary, #1e202c);
  padding: 0;
  z-index: 99;
  position: fixed;
  inset: 0;
  border-radius: 12px;
  box-shadow: var(--dialog-shadow, 0px 10px 30px 3px rgba(5, 16, 55, 0.15));
  border: none;
}
.dialog--M1T1j .header--bulOr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.dialog--M1T1j .body--_0FyM {
  padding: 0 20px 20px;
}
.header--bulOr .title--AjCKU {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
}
.header--bulOr .closeButton--IBvX8 {
  background-color: transparent;
  border: none;
  color: var(--text-primary, #1e202c);
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.roundButton--tXjxN {
  border-radius: 12px;
  color: #ffffff;
}
.roundButton--tXjxN:not([disabled]) {
  background: linear-gradient(91.26deg, #8ad4ec 0%, #ef96ff 21.74%, #ff56a9 54.03%, #ffaa6c 85.28%);
}
.roundButton--tXjxN[disabled] {
  background: #23222e;
  cursor: not-allowed;
}

.container--a3T6w {
  position: relative;
  cursor: pointer;
}
.container--a3T6w .icon--oMjtS {
  position: absolute;
  right: -1px;
  bottom: -1px;
}

.snsShare--HsxoD {
  display: flex;
}
.snsShare--HsxoD .button--n9rMm {
  margin-left: 10px;
  cursor: pointer;
  color: var(--text-primary, #1e202c);
}
@media (max-width: 950px) {
  .snsShare--HsxoD .button--n9rMm {
    margin-left: 0;
    margin-right: 10px;
  }
}

.textarea--iQvxO {
  font-family: Helvetica Neue;
  height: 200px;
  width: 100%;
  padding: 8px 12px;
  background: var(--input-bg, #fff);
  border: 1px solid var(--light-border, #c1c7de);
  box-sizing: border-box;
  border-radius: 6px;
  resize: vertical;
  max-height: 60vh;
  color: var(--text-primary, #1e202c);
}
.textarea--iQvxO:invalid {
  border: 1px solid var(--input-invalid-border, #fb2047);
}
.textarea--iQvxO:valid:not(:placeholder-shown) {
  border: 1px solid var(--input-valid-border, #2bc128);
}

.thickButton--m3DiE {
  height: 58px;
  width: 296px;
  background-size: cover;
  background-image: url(/1f2a343890350019e8ee.png);
  background-repeat: no-repeat;
  padding: 4px 46px 51px 0;
  font-size: 20px;
  color: #ffffff;
  box-sizing: content-box;
}

.content--Yp89c {
  display: flex;
  align-items: center;
  background-color: #23222e;
  padding: 12px 18px;
  width: 380px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fcfcfd;
}
.content--Yp89c .icon--qMkYl {
  margin-right: 18px;
  flex-shrink: 0;
}
.content--Yp89c .texts--_itZH {
  flex-grow: 1;
}
.content--Yp89c .title--ERJVk {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fcfcfd;
}
.content--Yp89c .message--OLf3F {
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.content--Yp89c.success--NW2Vf {
  background-color: #45b36b;
}
.content--Yp89c.error--IezmB {
  background: #ff406e;
}
.content--Yp89c.error--IezmB .title--ERJVk {
  color: #fff;
}
.content--Yp89c.warning--pxZtu .message--OLf3F {
  color: #ff5f5f;
}
.content--Yp89c .closeButton--joJCn {
  cursor: pointer;
}
.toastAriaContainerFix--II6o3 {
  margin: 0;
}

.icon--lus0G {
  border-radius: 50%;
}

.drawMessage--yZBiM {
  display: flex;
  align-items: center;
}
.drawMessage--yZBiM a {
  color: var(--text-link, #0057ff);
}

.list--J6pRO .item--rZ4Zc {
  margin-bottom: 12px;
  border-radius: 12px;
  padding: 6px;
}
.list--J6pRO .item--rZ4Zc:hover {
  background-color: var(--light-background, #f6f8f8);
}
.token--_sfjX {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.token--_sfjX.disabled--ZqxQK {
  opacity: 0.4;
  cursor: not-allowed;
}
.token--_sfjX .icon--E_3j9 {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}
.token--_sfjX .info--ep1sJ {
  margin-left: 7px;
  flex-grow: 1;
}
.token--_sfjX .balance--i3X7M {
  font-size: 14px;
  line-height: 16px;
}
.info--ep1sJ {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
}
.info--ep1sJ .symbol--VlCzc {
  font-size: 14px;
  line-height: 16px;
  color: var(--text-primary, #141416);
}
.info--ep1sJ .name--GsPdm {
  margin-top: 5px;
  font-size: 12px;
  line-height: 12px;
  text-transform: capitalize;
  color: #777e91;
}

.player--_XOxC {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player--_XOxC .playPause--xphjm {
  height: 32px;
  width: 32px;
  position: absolute;
  inset: 0;
  margin: auto;
  background: rgba(30, 32, 44, 0.7);
  border-radius: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  will-change: opacity;
  transition: 0.3s opacity ease-in-out;
}
.player--_XOxC:hover .playPause--xphjm {
  opacity: 1;
}

.uploadBox--r8XZz {
  border: 1px dashed var(--upload-border, #99afff);
  width: 480px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--upload-bg, #f0f2f6);
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  border-radius: 4px;
  color: #a6acc4;
}
.uploadBox--r8XZz .previewImage--WBBJc {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.uploadBox--r8XZz.error--ZYbUI {
  color: var(--text-error, #fb2047);
  border-color: var(--upload-error-border, #ff9eaf);
}
.uploadBox--r8XZz.dragingIn--_d_0k {
  border-color: var(--upload-active-border, #ff9eaf);
  border-style: solid;
  outline: 1px solid var(--upload-active-border, #ff9eaf);
}
.inner--QAB2Q {
  text-align: center;
}
.description--FOR0t {
  display: flex;
  color: #454a5f;
}
.description--FOR0t .texts--H3jxn {
  width: 280px;
  text-align: center;
}
.description--FOR0t .texts--H3jxn p {
  margin-top: 25px;
}
.description--FOR0t .filetypes--CEj_Z {
  color: var(--step-text, #737992);
}
.description--FOR0t .highlight--tB403 {
  color: #0057ff;
}
.darkMode .description--FOR0t .texts--H3jxn {
  color: #d9ddea;
}

.row--k1Vfe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
}
.account--xsamf {
  padding: 12px;
  color: var(--text-primary, #1e202c);
  font-size: 14px;
  background-color: var(--wallet-bg, #f0f2f6);
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.account--xsamf .icon--o_P9q {
  margin-right: 5px;
}
.disconnectButton--chNIn {
  font-weight: bold;
}
.cell--KGGeR {
  color: var(--text-primary, #1e202c);
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}
.cell--KGGeR .icon--o_P9q {
  margin-right: 10px;
}
.copyButton--zedlf {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 70px;
}
.recentTxes--_Beax .title--oNY92 {
  font-size: 12px;
  line-height: 24px;
  color: var(--text-primary, #1e202c);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recentTxes--_Beax .transaction--Huo0g {
  height: 24px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}
.recentTxes--_Beax .clearButton--QJqk1 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: var(--text-link, #0057ff);
}
.recentTxes--_Beax .empty--gljO3 {
  font-size: 12px;
  line-height: 24px;
  color: #454a5f;
}
.transaction--Huo0g .operationName--Gv0h3 {
  margin-left: 8px;
  font-size: 10px;
}

.container--K1DvY {
  display: inline-flex;
  align-items: center;
}
.button--CGTlv {
  color: #a6acc4;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  flex-shrink: 0;
  display: inline-block;
}
.button--CGTlv.disabled--_1YrA {
  opacity: 0.5;
  cursor: not-allowed;
}
.input--E_E5k {
  text-align: center;
  width: 30px;
  box-sizing: border-box;
  height: 24px;
  border: 1px solid #a6acc4;
  outline: none;
  margin: 0 12px;
}
.input--E_E5k[type='number']::-webkit-outer-spin-button,
.input--E_E5k[type='number']::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.input--E_E5k[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
}

.buyBox--RdnsW {
  width: 380px;
}
.infos--hqtWE .meta--O35RF {
  margin-top: 10px;
  line-height: 24px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.cost--EWgCl {
  display: flex;
  flex-direction: column;
  color: var(--text-primary, #1e202c);
}
.cost--EWgCl .estimate--JkWpj {
  margin-top: 10px;
}
.estimate--JkWpj {
  height: 44px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-primary, #1e202c);
}
.currency--ajfkE {
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.currency--ajfkE .value--BvPEA {
  font-size: 32px;
  line-height: 40px;
  margin: 0 5px;
}
.currency--ajfkE .unit--iQuUL {
  font-size: 14px;
  line-height: 24px;
  margin: 0 5px;
}
.buttonGroup--bcMA5 {
  margin-top: 20px;
}
.buttonGroup--bcMA5 .button--hgmEz {
  margin-top: 10px;
  display: flex;
}
.button--hgmEz .tokenIcon--_r1xh {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.toastMessage--_MHr_ {
  display: flex;
  align-items: center;
}
.toastMessage--_MHr_ a {
  color: inherit;
}
.drawMessage--NremU {
  display: flex;
  align-items: center;
}
.drawMessage--NremU a {
  color: var(--text-link, #0057ff);
}

.dialog--_tHC8 {
  width: 480px;
}
.searchGroup--w4dRr {
  display: flex;
}
.searchGroup--w4dRr .input--ENKNH {
  flex-grow: 1;
}
.tokenList--TCFMy {
  margin-top: 24px;
  height: 258px;
  overflow: auto;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.newList--RBD2U .row--L6FJs {
  display: flex;
}
.newList--RBD2U .row--L6FJs .token--GIL4f {
  flex-grow: 1;
}
.noResult--SsXLq {
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}
.noResult--SsXLq .keyword--qv5C3 {
  font-weight: bold;
}

.maskbox--D9JKK {
  font-family: Helvetica Neue;
  color: var(--text-primary, #1e202c);
  display: flex;
}
.maskbox--D9JKK .interaction--gNMZV {
  margin-left: 28px;
  flex-grow: 1;
}
.maskbox--D9JKK .snsShare--JfX0w {
  margin-top: 12px;
  flex-shrink: 0;
}
.media--dQtC5 {
  width: 480px;
  height: 320px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--image-placeholder-bg, #e4e8f1);
  color: var(--text-secondary, #f0f2f6);
  flex-shrink: 0;
}
.media--dQtC5 img {
  object-fit: cover;
}
.interaction--gNMZV .drawButton--ET00G {
  width: 400px;
  margin-top: 28px;
}
.infoList--WIwf4 .name--VZF9F {
  font-weight: bold;
  font-size: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.infoList--WIwf4 .infoRow--_1zot {
  font-size: 18px;
  line-height: 24px;
  margin-top: 28px;
}
@media (max-width: 414px) {
  .maskbox--D9JKK {
    flex-direction: column;
  }
  .maskbox--D9JKK .interaction--gNMZV {
    margin-left: 0;
    margin-top: 24px;
  }
  .media--dQtC5 {
    width: 100%;
    height: 216px;
  }
  .infoList--WIwf4 .name--VZF9F {
    font-size: 18px;
    font-weight: bold;
  }
  .infoList--WIwf4 .infoRow--_1zot {
    font-size: 14px;
    margin-top: 12px;
  }
  .interaction--gNMZV .drawButton--ET00G {
    width: 100%;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .list--WJsFf {
    margin-left: 40px;
    margin-right: 40px;
  }
  .media--dQtC5 {
    width: 304px;
    height: 185px;
  }
  .infoList--WIwf4 .name--VZF9F {
    font-size: 22px;
    font-weight: bold;
    white-space: normal;
  }
  .infoList--WIwf4 .infoRow--_1zot {
    font-size: 14px;
    margin-top: 4px;
  }
  .interaction--gNMZV .drawButton--ET00G {
    width: auto;
    width: 100%;
    margin-top: 8px;
  }
}

.maskbox--_k5rJ {
  background-color: var(--footer-background, #f0f2f6);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  position: relative;
}
.maskbox--_k5rJ .interaction--O1oga {
  margin-left: 32px;
}
.maskbox--_k5rJ .snsShare--lOuvT {
  position: absolute;
  right: 20px;
  top: 20px;
}
.media--ddHiv {
  width: 312px;
  height: 188px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darker-background, #d9ddea);
  color: var(--text-secondary, #f0f2f6);
  flex-shrink: 0;
}
.media--ddHiv img {
  object-fit: cover;
}
.infoList--zQFbj {
  font-size: 16px;
  line-height: 20px;
}
.infoList--zQFbj .name--NXWJY {
  color: var(--text-primary, #1e202c);
}
.infoList--zQFbj .infoRow--PgU_I {
  margin-top: 12px;
  display: flex;
  align-items: center;
}
.infoList--zQFbj .infoRow--PgU_I .rowName--zVoMT {
  color: var(--text-secondary, #f0f2f6);
}
.infoList--zQFbj .infoRow--PgU_I .rowValue--XUmRG {
  color: var(--text-primary, #1e202c);
  margin-left: 12px;
}
.infoList--zQFbj .statusBadge--phXz7 {
  margin-left: 12px;
}
.operations--okMR4 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 14px;
}
.buttons--P7FGd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.cancelDialog--eAqNW {
  width: 600px;
}
.cancelDialog--eAqNW .infoList--zQFbj .infoRow--PgU_I {
  margin-top: 18px;
  justify-content: space-between;
}
.cancelDialog--eAqNW .buttons--P7FGd {
  margin-top: 40px;
}
.editDialog--AMAOt {
  width: 350px;
}
.editDialog--AMAOt .texts--UoaaP {
  color: var(--text-darker, #f9f9f9);
}
.editDialog--AMAOt .buttons--P7FGd {
  margin-top: 40px;
}

.searchGroup--FNJ_v {
  display: flex;
}
.searchGroup--FNJ_v .input--L9ziv {
  flex-grow: 1;
  margin-right: 24px;
}
.selectList--yebSH {
  margin-top: 20px;
  height: 450px;
  overflow: auto;
  width: 550px;
}
.empty--LxlSV {
  color: var(--text-error, #fb2047);
}
.buttonGroup--qalxm {
  margin-top: 24px;
}

.footer--OlXrv {
  display: flex;
  padding: 80px 20px 20px;
  box-sizing: border-box;
  font-size: 16px;
  align-items: center;
  background-color: var(--footer-background, #f0f2f6);
  color: var(--text-primary, #1e202c);
}
.footer--OlXrv .inner--UBULV {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 414px) {
  .footer--OlXrv {
    display: block;
    padding: 56px 20px 0;
  }
  .footer--OlXrv .inner--UBULV {
    width: auto;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .footer--OlXrv {
    padding-top: 56px;
  }
  .footer--OlXrv .inner--UBULV {
    width: 100%;
  }
}
.info--SYTgy {
  display: flex;
}
.info--SYTgy .left--Ddq3M {
  width: 352px;
}
.info--SYTgy .right--Ifhgx {
  margin-left: 30px;
}
@media (max-width: 414px) {
  .info--SYTgy {
    flex-direction: column;
  }
  .info--SYTgy .left--Ddq3M {
    width: auto;
  }
  .info--SYTgy .right--Ifhgx {
    margin-left: 0;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .info--SYTgy .left--Ddq3M {
    width: 280px;
  }
}
.brand--qr3nz .slogan--WcZve {
  font-size: 18px;
  line-height: 24px;
  color: #1e202c;
  font-weight: 700;
  margin-top: 20px;
}
.newsletter--_cllH {
  margin-top: 32px;
}
.linkGroups--ylWJ6 {
  display: flex;
  flex-direction: row;
}
.linkGroups--ylWJ6 .linkGroup--_huuw {
  padding-left: 32px;
}
@media (max-width: 414px) {
  .linkGroups--ylWJ6 {
    flex-direction: column;
  }
  .linkGroups--ylWJ6 .linkGroup--_huuw {
    padding-left: 0;
    margin-top: 32px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .linkGroups--ylWJ6 .linkGroup--_huuw {
    padding-left: 0;
  }
}
.linkGroup--_huuw {
  width: 215px;
}
.linkGroup--_huuw .groupTitle--x8Lhl {
  font-weight: 500;
  font-size: 16px;
}
.linkGroup--_huuw .link--gL_bq {
  margin-top: 40px;
}
@media (min-width: 414px) and (max-width: 950px) {
  .linkGroup--_huuw {
    width: 150px;
  }
}
.links--zeHT0 .link--gL_bq {
  line-height: 24px;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
}
.links--zeHT0 .link--gL_bq a {
  color: var(--text-light-secondary, #8c92ab);
  text-decoration: none;
}
.links--zeHT0 .link--gL_bq a:hover {
  text-decoration: underline;
}
@media (max-width: 414px) {
  .links--zeHT0 .link--gL_bq {
    margin-top: 40px;
  }
}
.floor--_6KjV {
  margin-top: 48px;
  border-top: 1px solid var(--light-divider, #c1c7de);
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  color: var(--text-light-secondary, #8c92ab);
  font-size: 12px;
}
.floor--_6KjV .gdpr--NWYC4 {
  color: var(--text-primary, #1e202c);
}
@media (max-width: 414px) {
  .floor--_6KjV {
    padding-bottom: 56px;
    flex-direction: column;
    border-top: 1px solid var(--light-divider, #c1c7de);
    text-align: center;
  }
  .floor--_6KjV .gdpr--NWYC4 {
    margin-top: 20px;
  }
}
.gdpr--NWYC4 .acceptButton--rHTRg {
  font-weight: bold;
  color: #0057ff;
  text-decoration: none;
  cursor: pointer;
  margin-left: 16px;
}

.pageHeader--dVYGQ {
  height: 74px;
  box-sizing: border-box;
  background: var(--background, '#ffffff');
  transition: background-color var(--theme-transition-duration, 0.1s) ease;
  border-bottom: solid 1px var(--top-border);
}
.pageHeader--dVYGQ .inner--Szfpn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 100%;
}
.pageHeader--dVYGQ .langSwitch--i_x5r {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-primary, #1e202c);
}
@media (max-width: 1250px) {
  .pageHeader--dVYGQ {
    display: flex;
  }
  .pageHeader--dVYGQ .langSwitch--i_x5r {
    position: relative;
    margin-left: 10px;
  }
}
@media (max-width: 414px) {
  .pageHeader--dVYGQ {
    display: block;
    border-bottom: none;
    height: 48px;
  }
  .pageHeader--dVYGQ .inner--Szfpn {
    padding: 0 20px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .pageHeader--dVYGQ {
    display: block;
    height: 56px;
  }
  .pageHeader--dVYGQ .inner--Szfpn {
    padding: 0 20px;
  }
}
.nav--HKRQC {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
}
.nav--HKRQC .navItem--_mVhh {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  white-space: nowrap;
  color: var(--nav-text, #8c92ab);
  transition: color var(--theme-transition-duration, 0.1s) ease;
  margin: 10px;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
}
.nav--HKRQC .navItem--_mVhh.activeNav--qohJl {
  color: var(--active-nav-text, #1e202c);
  background-clip: text;
  -webkit-background-clip: text;
}
.popupNav--_ArgX {
  background-color: var(--background, #fff);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  display: none;
}
.popupNav--_ArgX.open--vYgbj {
  display: flex;
}
.popupNav--_ArgX .navItem--_mVhh {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  white-space: nowrap;
  color: var(--nav-text, #8c92ab);
  transition: color var(--theme-transition-duration, 0.1s) ease;
  margin: 10px;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
}
.popupNav--_ArgX .navItem--_mVhh.activeNav--qohJl {
  color: var(--active-nav-text, #1e202c);
  background-clip: text;
  -webkit-background-clip: text;
}
.popupNav--_ArgX .langSwitchItem--w_Jq3 {
  height: 30px;
  color: var(--text-primary, #1e202c);
}
.brand--ToyBz {
  display: flex;
  align-items: center;
  width: 171px;
  height: 51px;
}
.brand--ToyBz select {
  height: 20px;
  width: 100px;
  margin-left: 16px;
}
@media (max-width: 950px) {
  .brand--ToyBz {
    width: 109px;
    height: 32px;
  }
}
.operations--_M9MU {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.operations--_M9MU .button--AjJ3x {
  margin-left: 10px;
  cursor: pointer;
  display: flex;
}
.operations--_M9MU .button--AjJ3x .icon--uSnIt {
  margin-right: 10px;
}
.operations--_M9MU .menuButton--NMGES {
  display: none;
  color: var(--text-primary, #1e202c);
}
@media (max-width: 950px) {
  .pageHeader--dVYGQ .inner--Szfpn {
    width: auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
  .nav--HKRQC {
    display: none;
  }
  .operations--_M9MU .button--AjJ3x:not(.themeToggleButton--Muai3) {
    display: none;
  }
  .operations--_M9MU .menuButton--NMGES {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .langSwitch--i_x5r {
    display: none;
  }
}

.container--_KNLZ {
  min-height: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text--MuuUi {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary, #1e202c);
}
.button--_WVAR {
  margin-top: 20px;
}

.container--ZkqWa {
  min-height: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text--qbho0 {
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary, #1e202c);
}
.button--KaUUU {
  margin-top: 20px;
}

.shareBox--_KNal {
  width: 480px;
}
.nftList--dGXkW {
  display: grid;
  height: 210px;
  overflow: auto;
  grid-gap: 20px 0;
  grid-template-columns: 1fr 1fr;
}
.nftList--dGXkW .item--AnQHC {
  display: flex;
  justify-content: center;
}
.buttonGroup--loRej {
  margin-top: 30px;
}

.container--lLvg_ {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box--_ZZ0h {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
.box--_ZZ0h .title--lfKUN {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
}
.box--_ZZ0h .subtitle--_a2Xj {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #fcfcfd;
}
.box--_ZZ0h::before,
.box--_ZZ0h::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 360px;
  height: 6px;
  background: #fcfcfd;
}
.box--_ZZ0h::before {
  left: 0;
  transform: translateX(-100%);
}
.box--_ZZ0h::after {
  right: 0;
  transform: translateX(100%);
}
.box--_ZZ0h .countdown--NFI_x {
  margin-top: 46px;
}

.dialog--_T274 {
  width: 480px;
}
.searchGroup--i1805 {
  display: flex;
}
.searchGroup--i1805 .input--vCN72 {
  flex-grow: 1;
}
.tokenList--GYSSx {
  margin-top: 24px;
  height: 258px;
  overflow: auto;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.newList--uWWkg .row--Qzq8b {
  display: flex;
}
.newList--uWWkg .row--Qzq8b .token--_f1PE {
  flex-grow: 1;
}

.wip--JZ9i2 {
  padding: 40px 30px 60px;
  font-size: 1.8em;
  font-weight: bold;
}

.list--L7TrL {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.list--L7TrL .item--xL8iK {
  margin-top: 80px;
}
.paginaton--rcc0z {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.paginaton--rcc0z .button--bduBz {
  width: 100px;
  margin: 0 20px;
}
.loadingBox--_MzLs {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-primary, #1e202c);
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 950px) {
  .loadingBox--_MzLs {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .list--L7TrL {
    width: auto;
    margin-bottom: 40px;
  }
  .list--L7TrL .item--xL8iK {
    margin: 40px 20px 24px;
  }
  .paginaton--rcc0z {
    margin-bottom: 40px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .list--L7TrL {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.main--_YGah {
  font-family: Helvetica Neue;
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  color: var(--text-primary, #1e202c);
}
.title--FoGjZ {
  font-size: 34px;
  line-height: 40px;
  margin-top: 40px;
}
.maskbox--_dXc3 {
  margin-top: 80px;
}
.urlBoxContent--_MQsy {
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  flex-direction: column;
}
.urlBoxContent--_MQsy .url--ULmv2 {
  white-space: nowrap;
}
.urlBoxContent--_MQsy a {
  margin: 0 0.5em;
  color: #0057ff;
}
.detailsContent--rHV1y {
  max-height: 480px;
  overflow: auto;
}
.detailsContent--rHV1y .nftList--razLc {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.detailsContent--rHV1y .loadmore--ryPWk {
  display: block;
  width: 300px;
  margin: 16px auto;
}
@media (max-width: 414px) {
  .main--_YGah {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .detailsContent--rHV1y .nftList--razLc {
    gap: 15px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .main--_YGah {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.editPage--_4B_t {
  color: var(--text-primary, #1e202c);
  box-sizing: border-box;
  width: 1120px;
  padding-right: 520px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}
.title--H4Ynt {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 80px;
}
.section--mfVdR {
  margin-top: 10px;
}
.section--mfVdR .sectionTitle--Tr2CT {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
}
.section--mfVdR .field--_7gPr {
  margin-top: 16px;
}
.sectionTitle--Tr2CT {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.sectionTitle--Tr2CT .step--KUC7N {
  color: var(--step-text, #737992);
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  margin-left: auto;
}
.sectionTitle--Tr2CT .backButton--_c_Ef {
  position: absolute;
  right: -520px;
  bottom: 0;
}
.field--_7gPr .cell--r_Qrf {
  font-size: 16px;
  margin-top: 16px;
}
.field--_7gPr input[type='datetime-local'] {
  font-size: 14px;
  padding: 12px;
}
.field--_7gPr .clickableInput--LFiJx input:not(:disabled) {
  cursor: pointer;
}
.field--_7gPr .error--RPti8 {
  color: var(--text-error, #fb2047);
}
.mediaField--HqqFn {
  width: 480px;
}
.selectGroup--NqLC3 {
  margin-top: 10px;
}
.selectGroup--NqLC3 .selectType--kooMl {
  cursor: pointer;
  margin-right: 16px;
}
.rowFieldGroup--f3PTw {
  display: flex;
  justify-content: space-between;
}
.rowFieldGroup--f3PTw .field--_7gPr {
  width: 286px;
}
.mediaRestButton--KQDiH {
  margin-top: 12px;
}
.buttonGroup--YQSBP {
  display: flex;
}
.buttonGroup--YQSBP .button--tydMo {
  margin-right: 16px;
}
.selectedNft--_2dxY {
  padding: 16px 12px;
  background: var(--well-bg, #fff);
  border: 1px solid var(--input-border, #c1c7de);
  box-sizing: border-box;
  border-radius: 6px;
  max-height: 700px;
  overflow: auto;
}
.buttonList--asJtD .button--tydMo {
  margin-top: 16px;
}
.validations--cX6ig {
  color: var(--input-invalid-border, #2bc128);
}
.tokenIcon--qWdp_ {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.pickButton--qB4pQ {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--text-primary, #1e202c);
}
.pickButton--qB4pQ .tokenSymbol--RK80H {
  margin: 0 10px;
}

.confirmDialog--IfyAl {
  width: 600px;
}
.meta--H_2pl {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.meta--H_2pl .name--wTuc6 {
  font-weight: bold;
}
.meta--H_2pl .value--yFJlN {
  display: flex;
  align-items: center;
}
.nftList--buavx {
  max-height: 426px;
  overflow: auto;
  grid-gap: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nftList--buavx .nft--nLtaO {
  width: 175px;
}

.article--_CA24 {
  width: 1120px;
  margin: 120px auto;
  color: var(--text-primary, #1e202c);
}
.article--_CA24 .title--_f2UE {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 80px;
}
.faqList--FQs9T {
  margin-left: 110px;
  width: 954px;
}
@media (max-width: 950px) {
  .article--_CA24 {
    width: auto;
    margin-top: 40px;
  }
  .article--_CA24 .title--_f2UE {
    margin-bottom: 60px;
  }
  .faqList--FQs9T {
    width: auto;
  }
}
@media (max-width: 414px) {
  .article--_CA24 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .article--_CA24 .title--_f2UE {
    font-size: 22px;
  }
  .faqList--FQs9T {
    margin-left: 64px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .article--_CA24 {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
  .faqList--FQs9T {
    margin-left: 90px;
  }
}

.frame--_9IwY {
  height: 800px;
  background: #0c0c0c;
}
@media (max-width: 414px) {
  .frame--_9IwY {
    height: 505px;
  }
}
.frame--_9IwY .content--i0a7Q {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 950px) {
  .frame--_9IwY .content--i0a7Q {
    width: auto;
  }
}
@media (max-width: 414px) {
  .frame--_9IwY .content--i0a7Q {
    flex-direction: column-reverse;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .frame--_9IwY .content--i0a7Q .texts--ELjyk {
    text-align: center;
  }
}
.frame--_9IwY .title--_tC6y {
  font-size: 46px;
  color: #fff;
  line-height: 56px;
  font-family: Helvetica Neue;
}
@media (max-width: 414px) {
  .frame--_9IwY .title--_tC6y {
    font-size: 22px;
    line-height: 32px;
  }
}
.frame--_9IwY .description--__AIl {
  font-size: 18px;
  line-height: 24px;
  color: #d9ddea;
}
@media (max-width: 414px) {
  .frame--_9IwY .description--__AIl {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .frame--_9IwY {
    height: 620px;
  }
  .frame--_9IwY .title--_tC6y {
    font-size: 34px;
    padding: 0 20px;
  }
}
.content--i0a7Q {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.content--i0a7Q .image--_Y7Y5 {
  max-width: 500px;
  max-height: 450px;
}
.content--i0a7Q .image--_Y7Y5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 414px) and (max-width: 950px) {
  .content--i0a7Q .image--_Y7Y5 {
    max-width: 400px;
    max-height: 310px;
  }
}
.heroFrame--hRERt {
  background-image: url(/1d03417cb6bd23a03e24.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 414px) {
  .heroFrame--hRERt {
    height: 240px;
  }
}
.heroFrame--hRERt .content--i0a7Q {
  padding-top: 260px;
  display: block;
}
@media (max-width: 414px) {
  .heroFrame--hRERt .content--i0a7Q {
    padding: 32px 0;
  }
}
.heroFrame--hRERt .title--_tC6y {
  width: 475px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 414px) {
  .heroFrame--hRERt .title--_tC6y {
    width: 207px;
  }
}
.heroFrame--hRERt .description--__AIl {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 475px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
@media (max-width: 950px) {
  .heroFrame--hRERt .description--__AIl {
    margin-bottom: 12px;
    width: auto;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .heroFrame--hRERt {
    height: 492px;
    padding-left: 129px;
    padding-right: 129px;
  }
  .heroFrame--hRERt .content--i0a7Q {
    padding-top: 135px;
  }
}
.leftFrame--Qr6O0 {
  background-position: center;
  background-repeat: no-repeat;
  background: #0c0c0c;
}
.leftFrame--Qr6O0 .content--i0a7Q {
  padding-top: 232px;
  flex-direction: row-reverse;
}
@media (max-width: 414px) {
  .leftFrame--Qr6O0 .content--i0a7Q {
    flex-direction: column-reverse;
    padding-top: 56px;
  }
}
.leftFrame--Qr6O0 .title--_tC6y {
  width: 475px;
}
@media (max-width: 414px) {
  .leftFrame--Qr6O0 .title--_tC6y {
    width: auto;
  }
}
.leftFrame--Qr6O0 .description--__AIl {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 475px;
}
@media (max-width: 414px) {
  .leftFrame--Qr6O0 .description--__AIl {
    width: auto;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .leftFrame--Qr6O0 .content--i0a7Q {
    width: auto;
    flex-direction: column-reverse;
    padding-top: 56px;
  }
  .leftFrame--Qr6O0 .texts--ELjyk {
    width: auto;
    text-align: center;
  }
  .leftFrame--Qr6O0 .title--_tC6y {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
  .leftFrame--Qr6O0 .description--__AIl {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
.rightFrame--_Z8lr {
  background-position: center;
  background-repeat: no-repeat;
  background: #1b1b1b;
}
.rightFrame--_Z8lr .content--i0a7Q {
  width: 1200px;
  padding-top: 232px;
}
@media (max-width: 414px) {
  .rightFrame--_Z8lr .content--i0a7Q {
    width: auto;
    padding-top: 56px;
  }
}
.rightFrame--_Z8lr .title--_tC6y {
  width: 475px;
}
@media (max-width: 414px) {
  .rightFrame--_Z8lr .title--_tC6y {
    width: auto;
  }
}
.rightFrame--_Z8lr .description--__AIl {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 475px;
}
@media (max-width: 414px) {
  .rightFrame--_Z8lr .description--__AIl {
    width: auto;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .rightFrame--_Z8lr .content--i0a7Q {
    width: auto;
    flex-direction: column-reverse;
    padding-top: 56px;
  }
  .rightFrame--_Z8lr .texts--ELjyk {
    width: auto;
    text-align: center;
  }
  .rightFrame--_Z8lr .title--_tC6y {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
  .rightFrame--_Z8lr .description--__AIl {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header--_BXyo {
  background-image: url(/558c2566c0b6309f512b.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 198px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header--_BXyo .avatar--_P5m8 {
  position: relative;
  bottom: -48px;
}
.main--PZW6B {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding-bottom: 30px;
}
.main--PZW6B .nftList--mYdX_ {
  grid-gap: 30px;
}
.main--PZW6B .buttonGroup--xUXKt {
  display: flex;
  justify-content: center;
  margin-left: 70px;
}
.emptyContainer--_95mN {
  display: flex;
  height: 550px;
  justify-content: center;
  align-items: center;
}
.nftList--mYdX_ {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.status--Nae_b {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}
.status--Nae_b .text--drghg {
  font-family: Helvetica Neue;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
@media (max-width: 950px) {
  .main--PZW6B .nftList--mYdX_ {
    gap: 15px;
  }
  .header--_BXyo {
    display: none;
  }
}
@media (max-width: 414px) {
  .main--PZW6B {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .main--PZW6B {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.main--_yYjs {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.header--mpg3H {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  color: var(--text-primary, #1e202c);
}
.list--_8P9A {
  margin-bottom: 32px;
  margin-top: 120px;
}
.list--_8P9A .item--UdCPY {
  margin-top: 32px;
}
.empty--kwM3F {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-primary, #1e202c);
}
.empty--kwM3F .text--_Pauy {
  margin: 12px;
}
.paginaton--PP6lm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 32px;
}
.paginaton--PP6lm .button--IVyYu {
  width: 100px;
  margin: 0 20px;
}
.loadingBox--K6XXG {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-primary, #1e202c);
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 950px) {
  .loadingBox--K6XXG {
    width: 100%;
  }
}
@media (max-width: 414px) {
  .list--_8P9A {
    width: auto;
    margin-bottom: 40px;
  }
  .list--_8P9A .item--UdCPY {
    margin: 40px 20px 24px;
  }
  .paginaton--PP6lm {
    margin-bottom: 40px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .list--_8P9A {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
}

html, body, #root {
  height: 100%;
}
#root {
  min-height: 100%;
}
.container--_KefA {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 375px;
}
.container--_KefA .header--tFAv1,
.container--_KefA .footer--mavf2 {
  flex-shrink: 0;
  flex-grow: 0;
}
.container--_KefA .header--tFAv1 {
  width: 100%;
  position: fixed;
  z-index: 99;
}
.container--_KefA .body--_ZGrA {
  flex-grow: 1;
  margin-top: 74px;
}
@media (max-width: 414px) {
  .container--_KefA .body--_ZGrA {
    margin-top: 48px;
  }
}
.container--_KefA .footer--mavf2 {
  border-top: solid 1px var(--bottom-border);
}
@media (max-width: 414px) {
  .container--_KefA .body--_ZGrA {
    margin-top: 48px;
  }
}
@media (min-width: 414px) and (max-width: 950px) {
  .container--_KefA .body--_ZGrA {
    margin-top: 56px;
  }
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3,
p,
dl,
dt,
dd {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.toastContainer--Kwf7t {
  margin-top: 65px;
}
/* increase priority of this selector */
.toast--_on0a.toast--_on0a {
  padding: 0;
  margin: 0;
  max-width: 380px;
  background-color: transparent;
  box-shadow: none;
}
body {
  background-color: var(--background, #ffffff);
  transition: background-color var(--theme-transition-duration, 0.1s) ease;
}


/*# sourceMappingURL=main-3a4df1aea66a606c1ee1.css.map*/