.operations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text-primary, #1e202c);
  font-weight: 500;
  .toggleAll {
    cursor: pointer;
    display: flex;
    align-items: center;
    &.locked {
      cursor: not-allowed;
    }
  }
  .tip {
    kbd {
      color: var(--text-link, #0057ff);
    }
  }
}
.selectList {
  display: flex;
  flex-direction: column;
  .scrolling {
    border-radius: 8px;
    flex-grow: 1;
    overflow: auto;
  }
}
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.item {
  position: relative;
  .checkbox {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
.addItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--add-button-bg, #f0f2f6);
  width: 175px;
  height: 186px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.nft {
  width: 175px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}
