.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 18px;
  grid-column-gap: 12px;
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.item {
  position: relative;
  .checkbox {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
.addItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f6;
  width: 175px;
  height: 210px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.nft {
  width: 175px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
}
