@import '../../variables.less';
.button {
  touch-action: manipulation;
  cursor: pointer;
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 24px;
  height: 40px;
  border-radius: 6px;
  padding: 0 20px;
  overflow: hidden;
  font-family: Helvetica Neue;
  transition: background-color var(--theme-transition-duration, 0.2s) ease,
    color var(--theme-transition-duration, 0.2s) ease;
  -webkit-appearance: none;
  &.small {
    height: 32px;
    padding: 8px 16px;
    font-size: 12px;
  }
  &.middle {
    height: 40px;
    padding: 12px 20px;
    font-size: 14px;
  }
  &.large {
    height: 48px;
    padding: 14px 24px;
    font-size: 16px;
  }
  &.fullWidth {
    display: inline-block;
    width: 100%;
  }
  transition: transform 0.3s ease;
  &:not([disabled]):hover {
    transform: scale(1.05);
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.round {
  border-radius: 40px;
  &.small {
    border-radius: 32px;
  }
  &.middle {
    border-radius: 40px;
  }
  &.large {
    border-radius: 48px;
  }
}
.circle {
  border-radius: 40px;
  width: 40px;
  &.small {
    width: 32px;
  }
  &.middle {
    width: 40px;
  }
  &.large {
    width: 48px;
  }
}
@media (max-width: @mid-screen) {
  .button {
    height: 32px;
    padding: 0 16px;
    line-height: 1;
    &.small {
      height: 32px;
      padding: 0 16px;
      font-size: 12px;
    }
    &.middle {
      height: 32px;
      padding: 0 18px;
      font-size: 14px;
    }
    &.large {
      height: 40px;
      padding: 0 22px;
      font-size: 16px;
    }
  }
  .round {
    border-radius: 32px;
    &.small {
      border-radius: 24px;
    }
    &.middle {
      border-radius: 32px;
    }
    &.large {
      border-radius: 40px;
    }
  }
  .circle {
    border-radius: 32px;
    width: 32px;
    &.small {
      width: 24px;
    }
    &.middle {
      width: 32px;
    }
    &.large {
      width: 40px;
    }
  }
}
.iconHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  &.leftIcon {
    margin-right: 10px;
  }
  &.rightIcon {
    margin-left: 10px;
  }
}

.schemeDefault {
  background-color: var(--button-default-bg, #1e202c);
  color: var(--button-default-color, #ffffff);
}
.schemePrimary {
  background-color: var(--button-primary-bg, #0057ff);
  color: var(--button-primary-color, #ffffff);
  /* TODO: replace with css variables */
  &[disabled] {
    background: #99afff;
    opacity: 1;
  }
}
.schemeLight {
  background-color: var(--button-light-bg, #f0f2f6);
  color: var(--button-light-color, #000000);
}
/* TODO: replace with css variables */
.schemeDanger {
  background-color: #fb2047;
  color: #fff;
}

.schemeSuccess {
  background-color: #2bc128;
  color: #fff;
}
