.footer {
  display: flex;
  padding: 30px 20px 20px;
  box-sizing: border-box;
  border-top: 2px solid transparent;
  color: #ebebf1;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  border-image: linear-gradient(
      91.26deg,
      #8ad4ec 0%,
      #ef96ff 21.74%,
      #ff56a9 54.03%,
      #ffaa6c 85.28%
    )
    2;
}
.links {
  display: flex;
  .link {
    line-height: 24px;
    margin-right: 30px;
    font-size: 16px;
    a {
      color: #ebebf1;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
