.confirmDialog {
  width: 600px;
}
.meta {
  display: flex;
  justify-content: space-between;
  .name {
    font-weight: bold;
  }
  .value {
    display: flex;
    align-items: center;
  }
  margin-bottom: 20px;
}

.number {
  margin-left: 10px;
}

.textButton {
  cursor: pointer;
  color: #0057ff;
}

.addressDialog {
  width: 400px;

  .addressList {
    overflow: scroll;
    height: 360px;
    .address {
      font-size: 14px;
      font-weight: 500;
      margin-top: 12px;
    }
  }
  .addressNotify {
    margin-top: 20px;
  }
}

.nftList {
  max-height: 426px;
  overflow: auto;
  grid-gap: 12px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .nft {
    width: 175px;
  }
}
