.editPage {
  color: var(--text-primary, #1e202c);
  box-sizing: border-box;
  width: 1120px;
  padding-right: 520px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 120px;
}
.title {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 80px;
}
.section {
  margin-top: 10px;
  .sectionTitle {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
  }
  .field {
    margin-top: 16px;
  }
}
.sectionTitle {
  display: flex;
  align-items: flex-end;
  .step {
    color: var(--step-text, #737992);
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin-left: auto;
  }
  position: relative;
  .backButton {
    position: absolute;
    right: -520px;
    bottom: 0;
  }
}
.field {
  .cell {
    font-size: 16px;
    margin-top: 16px;
  }
}
.selectGroup {
  margin-top: 10px;
  .selectType {
    cursor: pointer;
    margin-right: 16px;
  }
}
.rowFieldGroup {
  display: flex;
  justify-content: space-between;
  .field {
    width: 286px;
  }
}

.buttonGroup {
  display: flex;
  .button {
    margin-right: 16px;
  }
}

.selectedNft {
  padding: 16px 12px;
  background: var(--well-bg, #fff);
  border: 1px solid var(--input-border, #c1c7de);
  box-sizing: border-box;
  border-radius: 6px;
  max-height: 700px;
  overflow: auto;
}

.buttonList {
  .button {
    margin-top: 16px;
  }
}
.validations {
  color: var(--input-invalid-border, #2bc128);
}

.pickButton {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  .tokenIcon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .tokenSymbol {
    margin: 0 10px;
  }
  font-size: 16px;
  color: var(--text-primary, #1e202c);
}
