@import '../../variables.less';
.header {
  background-image: url(../../assets/images/profile-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 198px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .avatar {
    position: relative;
    bottom: -48px;
  }
}
.main {
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  padding-bottom: 30px;
  .nftList {
    grid-gap: 30px;
  }
  .buttonGroup {
    display: flex;
    justify-content: center;
    margin-left: 70px;
  }
}
.emptyContainer {
  display: flex;
  height: 550px;
  justify-content: center;
  align-items: center;
}
.nftList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  .text {
    font-family: Helvetica Neue;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}
@media (max-width: @mid-screen) {
  .main {
    .nftList {
      gap: 15px;
    }
  }
  .header {
    display: none;
  }
}
@media (max-width: @sm-screen) {
  .main {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: @sm-screen) and (max-width: @mid-screen) {
  .main {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
}
