.thickButton {
  height: 58px;
  width: 296px;
  background-size: cover;
  background-image: url(../../assets/images/thick-button.png);
  background-repeat: no-repeat;
  font-size: 20px;
  color: #ffffff;
  padding-top: 4px;
  box-sizing: border-box;
}
