.buyBox {
  width: 380px;
  position: fixed;
  inset: 0;
}

.infos {
  .meta {
    margin-top: 10px;
    line-height: 24px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
  }
}
.cost {
  display: flex;
  flex-direction: column;
  .estimate {
    margin-top: 10px;
  }
}
.estimate {
  height: 44px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.currency {
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .value {
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    margin: 0 5px;
  }
  .unit {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin: 0 5px;
  }
}
.buttonGroup {
  margin-top: 20px;
  .button {
    margin-top: 10px;
  }
}
