@import '../../variables.less';
.nft {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  .image {
    width: 100%;
    font-size: 0;
    height: 150px;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
  .info {
    flex-shrink: 0;
    line-height: 20px;
  }
}
.info {
  padding: 8px;
  box-sizing: border-box;
  color: #ebebf1;
  font-size: 14px;
  background: #23222e;
  .contractName {
    font-weight: bold;
  }
  .name {
    font-weight: normal;
  }
  .meta {
    display: flex;
    justify-content: space-between;
  }
}
.nftList {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 64px;
  .nftItem {
    width: 200px;
  }
}
@media (max-width: @sm-screen) {
  .nft {
    width: 160px;
  }
}
