.searchGroup {
  display: flex;
  .input {
    flex-grow: 1;
    margin-right: 24px;
  }
}
.selectList {
  margin-top: 20px;
  height: 450px;
  overflow: auto;
  width: 550px;
}
.empty {
  height: 450px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary, #1e202c);
}
.buttonGroup {
  margin-top: 24px;
}
