.searchGroup {
  display: flex;
  .input {
    flex-grow: 1;
    margin-right: 24px;
  }
}
.selectList {
  margin-top: 20px;
  height: 450px;
  overflow: auto;
  width: 550px;
}
.buttonGroup {
  margin-top: 24px;
}
