.shareBox {
  width: 480px;
}
.nftList {
  display: grid;
  flex-wrap: wrap;
  height: 210 px;
  overflow: auto;
  grid-gap: 20 px 0;
  grid-template-columns: 1fr 1fr;
  .item {
    display: flex;
    justify-content: center;
  }
}
.buttonGroup {
  margin-top: 30px;
}
