.pageHeader {
  height: 74px;
  padding: 16px 20px;
  box-sizing: border-box;
  background: var(--background, '#ffffff');
  transition: background-color var(--theme-transition-duration, 0.1s) ease;
  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  .navItem {
    font-size: 20px;
    white-space: nowrap;
    color: var(--nav-text, #8c92ab);
    transition: color var(--theme-transition-duration, 0.1s) ease;
    margin: 10px;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    &.activeNav {
      color: var(--active-nav-text, #1e202c);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}
.brand {
  display: flex;
  align-items: center;
  select {
    height: 20px;
    width: 100px;
    margin-left: 16px;
  }
}
.operations {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  .button {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    .icon {
      margin-right: 10px;
    }
  }
}
