.pageHeader {
  height: 68px;
  padding: 16px 20px;
  box-sizing: border-box;
  background: rgba(15, 15, 15, 0.8);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  .navItem {
    font-size: 20px;
    color: #fff;
    margin: 10px;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    &.activeNav {
      background-image: linear-gradient(
        90deg,
        #8ad4ec 0%,
        #ef96ff 21.74%,
        #ff56a9 54.03%,
        #ffaa6c 85.28%
      );
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}
.brand {
  display: flex;
  align-items: center;
  select {
    height: 20px;
    width: 200px;
    margin-left: 16px;
  }
}
.operations {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  .button {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    .icon {
      margin-right: 10px;
    }
  }
}
