@import '../../variables.less';
.pageHeader {
  height: 74px;
  box-sizing: border-box;
  background: var(--background, '#ffffff');
  transition: background-color var(--theme-transition-duration, 0.1s) ease;
  border-bottom: solid 1px var(--top-border);
  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 100%;
  }
  .langSwitch {
    color: var(--text-primary, #1e202c);
  }
}
@media (max-width: @sm-screen) {
  .pageHeader {
    display: block;
    border-bottom: none;
    height: 48px;
    .inner {
      padding: 0 20px;
    }
  }
}
@media (min-width: @sm-screen) and (max-width: @mid-screen) {
  .pageHeader {
    display: block;
    height: 56px;
    .inner {
      padding: 0 20px;
    }
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope;

  .navItem {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    white-space: nowrap;
    color: var(--nav-text, #8c92ab);
    transition: color var(--theme-transition-duration, 0.1s) ease;
    margin: 10px;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    &.activeNav {
      color: var(--active-nav-text, #1e202c);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}
.popupNav {
  background-color: var(--background, #fff);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Manrope;
  display: none;
  &.open {
    display: flex;
  }
  .navItem {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    white-space: nowrap;
    color: var(--nav-text, #8c92ab);
    transition: color var(--theme-transition-duration, 0.1s) ease;
    margin: 10px;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    &.activeNav {
      color: var(--active-nav-text, #1e202c);
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
  .langSwitchItem {
    height: 30px;
    color: var(--text-primary, #1e202c);
  }
}
.brand {
  display: flex;
  align-items: center;
  width: 171px;
  height: 51px;
  select {
    height: 20px;
    width: 100px;
    margin-left: 16px;
  }
}
@media (max-width: @mid-screen) {
  .brand {
    width: 109px;
    height: 32px;
  }
}
.operations {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  @media (max-width: 650px) {
    .button:not(.themeToggleButton) {
      display: none;
    }
  }
  .button {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    .icon {
      margin-right: 10px;
    }
  }
  .menuButton {
    display: none;
    color: var(--text-primary, #1e202c);
  }
}
@media (max-width: 1400px) {
  .pageHeader {
    display: flex;
    .operations {
      position: relative;
      margin-left: 10px;
    }
  }
}
@media (max-width: @mid-screen) {
  .pageHeader {
    .inner {
      width: auto;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
    }
  }
  .nav {
    display: none;
  }
  .operations {
    .menuButton {
      display: flex;
      align-items: center;
      margin-left: 20px;
    }
  }
  .langSwitch {
    display: none;
  }
}
