.newsletter {
  background: #23222e;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.texts {
  .title {
    font-size: 30px;
    line-height: 45px;
    color: #fcfcfd;
  }
}
.form {
  display: flex;
  align-items: center;
  .inputBox {
    background: #6b6a7f;
    border: none;
    width: 450px;
    height: 64px;
    box-sizing: border-box;
    padding: 19px;
    font-size: 16px;
    color: #ebebf1;
    &::placeholder {
      color: #ebebf1;
    }
    border-radius: 12px 0 0 12px;
    &:focus {
      outline: none;
    }
  }
  .submitButton {
    border: none;
    width: 108px;
    box-sizing: border-box;
    height: 64px;
    border-radius: 0 12px 12px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #fcfcfd;
  }
}
