.mysteryBox {
  font-family: Helvetica Neue;
  display: flex;
  .interaction {
    margin-left: 28px;
  }
}
.interaction {
  .drawButton {
    width: 400px;
    margin-top: 28px;
  }
}
.infoList {
  .name {
    font-size: 34px;
    margin-top: 28px;
  }
  .infoRow {
    font-size: 18px;
    line-height: 24px;
    margin-top: 28px;
  }
}
