.toastContainer {
  margin-top: 65px;
}
/* increase priority of this selector */
.toast.toast {
  padding: 0;
  margin: 0;
  max-width: 380px;
  background-color: transparent;
  box-shadow: none;
}
body {
  background-color: var(--background, #ffffff);
  transition: background-color var(--theme-transition-duration, 0.1s) ease;
}
