html {
  --theme-transition-duration: 0.3s;
  --background: #ffffff;
  --light-background: #f6f8f8;
  --top-border: #d9ddea;
  --bottom-border: #d9ddea;
  --footer-background: #f0f2f6;
  --border: #d9ddea;
  --darker-background: #d9ddea;

  --button-default-bg: #1e202c;
  --button-default-color: #ffffff;
  --button-primary-bg: #0057ff;
  --button-primary-color: #fff;
  --button-light-bg: #f0f2f6;
  --button-light-color: #000;

  --nav-text: #8c92ab;
  --active-nav-text: #1e202c;
  --text-primary: #1e202c;
  --text-primary-invest: #ffffff;
  --text-darker: #454a5f;
  --text-secondary: #8c92ab;
  --text-link: #0057ff;
  --text-error: #fb2047;

  --light-divider: #c1c7de;
  --light-border: #c1c7de;

  --input-bg: #fff;
  --input-border: #c1c7de;
  --input-focus-border: #0057ff;
  --input-invalid-border: #fb2047;
  --input-valid-border: #2bc128;

  --upload-border: #99afff;
  --upload-error-border: #ff9eaf;
  --upload-bg: #f0f2f6;
  --upload-error-bg: rgba(251, 32, 71, 0.1);
  --upload-active-border: #0057ff;
  --bubble-bg: rgba(15, 20, 25, 0.8);

  --dialog-shadow: 0px 10px 30px 3px rgba(5, 16, 55, 0.15);

  --well-bg: #fff;
  --add-button-bg: #f0f2f6;
  --step-text: #737992;
  --badge-color: #ffffff;
  --section-title: #1e202c;
  --image-placeholder-bg: #f0f2f6;
  --wallet-bg: #f0f2f6;
  --success-color: #2bc128;

  :global(.darkMode) {
    --background: #000000;
    --light-background: #111111;
    --top-border: #313545;
    --bottom-border: #313545;
    --footer-background: #1e202c;
    --darker-background: #313545;

    --button-default-bg: #ffffff;
    --button-default-color: #000;
    --button-primary-bg: #0057ff;
    --button-primary-color: #fff;
    --button-light-bg: #313545;
    --button-light-color: #fff;

    --nav-text: #737992;
    --active-nav-text: #fff;
    --text-primary: #fff;
    --text-primary-invest: #111111;
    --text-darker: #f9f9f9;
    --text-secondary: #f0f2f6;
    --text-link: #0057ff;
    --text-error: #fb2047;

    --light-divider: #313545;
    --light-border: #c1c7de;

    --input-bg: #1e202c;
    --input-border: #454a5f;
    --input-focus-border: #0057ff;

    --upload-border: #8c92ab;
    --upload-error-border: #ff9eaf;
    --upload-bg: #1e202c;
    --upload-error-bg: rgba(251, 32, 71, 0.1);
    --upload-active-border: #0057ff;
    --bubble-bg: rgba(255, 255, 255, 0.9);

    --dialog-shadow: 0px 10px 30px 3px rgba(155, 155, 155, 0.15);
    --well-bg: #1e202c;
    --badge-color: #737992;
    --add-button-bg: #313545;
    --step-text: #737992;
    --section-title: #f0f2f6;
    --image-placeholder-bg: #1e202c;
    --wallet-bg: #313545;
    ::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }
    --success-color: #2bc128;
  }
}
