:global {
  html,
  body,
  #root {
    height: 100%;
  }
  #root {
    min-height: 100%;
  }
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .header,
  .footer {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  .footer {
    margin-top: 45px;
  }
  .body {
    flex-grow: 1;
  }
}
